Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && pnpm format:biome'
  language: system
  stages:
  - commit

biome-check:
  name: biome-check
  entry: bash -c 'cd frontend && pnpm biome:check'
  language: system
  stages:
  - commit

typescript-check:
  name: typescript-check
  entry: bash -c 'cd frontend && pnpm type-check'
  language: system
  pass_filenames: false
  stages:
  - commit

refactor: improve test setups and mocking strategies for API routes
  frontend/src/app/__tests__/error-boundaries-integration.test.tsx
  frontend/src/app/api/calendar/__tests__/freebusy.test.ts
  frontend/src/app/api/chat/__tests__/route.smoke.test.ts
  frontend/src/app/api/keys/__tests__/get-route.test.ts
  frontend/src/app/api/keys/__tests__/route.test.ts
  frontend/src/app/api/keys/validate/__tests__/route.test.ts
  frontend/src/hooks/__tests__/use-error-handler.test.ts
  frontend/src/lib/ratelimit/__tests__/route-rate-limit.test.ts
  frontend/src/test/route-test-setup.ts
Due: biome-format, biome-check, typescript-check

refactor: standardize API route handlers with authentication and rate limiting
  frontend/src/app/api/agents/budget/__tests__/route.validation.test.ts
  frontend/src/app/api/calendar/__tests__/ics-export.test.ts
  frontend/src/app/api/calendar/__tests__/ics-import.test.ts
  frontend/src/app/api/chat/sessions/[id]/messages/route.ts
  frontend/src/app/api/chat/sessions/[id]/route.ts
  frontend/src/app/api/chat/sessions/route.ts
  frontend/src/app/api/keys/validate/route.ts
  frontend/src/app/api/places/details/[id]/route.ts
  frontend/src/app/api/places/photo/route.ts
  frontend/src/app/api/places/search/route.ts
  frontend/src/app/api/route-matrix/route.ts
  frontend/src/app/api/routes/route.ts
  frontend/src/app/api/user-settings/__tests__/route.test.ts
  frontend/src/app/api/user-settings/route.ts
  frontend/src/lib/api/factory.ts
  frontend/src/lib/ratelimit/config.ts
  frontend/src/lib/ratelimit/routes.ts
  frontend/src/lib/schemas/stores.ts
Due: biome-format, biome-check, typescript-check

refactor: update authentication and search store structure
  .gitignore
  frontend/scripts/test-memory-monitor.js
  frontend/src/app/(dashboard)/profile/__tests__/profile-page.test.tsx
  frontend/src/app/(dashboard)/search/flights/results/page.tsx
  frontend/src/app/api/agents/accommodations/__tests__/route.validation.test.ts
  frontend/src/app/api/agents/budget/__tests__/route.test.ts
  frontend/src/app/api/agents/budget/__tests__/route.validation.test.ts
  frontend/src/hooks/__tests__/use-agent-status-websocket.test.tsx
  frontend/src/lib/stores/helpers.ts
  frontend/src/stores/__tests__/auth/_shared.ts
  frontend/src/stores/__tests__/auth/auth-core.test.ts
  frontend/src/stores/auth/auth-core.ts
  frontend/src/stores/auth/auth-session.ts
  frontend/src/stores/auth/auth-validation.ts
  frontend/src/stores/index.ts
  frontend/src/stores/search-store.ts
  frontend/src/stores/user-store.ts
  frontend/src/test/mocks/react-query.ts
  frontend/src/test/mocks/supabase.ts
  frontend/src/test/route-test-setup.ts
Due: biome-format, biome-check, typescript-check

docs: update AGENTS.md with import/export patterns for AI coding agents
  AGENTS.md
Due: none

refactor: enhance API route tests with consistent mocking strategies
  frontend/src/app/api/attachments/files/__tests__/route.test.ts
  frontend/src/app/api/calendar/__tests__/events.test.ts
  frontend/src/app/api/calendar/__tests__/ics-export.test.ts
  frontend/src/app/api/calendar/__tests__/ics-import.test.ts
  frontend/src/app/api/chat/attachments/__tests__/route.test.ts
  frontend/src/app/api/chat/sessions/__tests__/routes.test.ts
  frontend/src/app/api/embeddings/__tests__/route.test.ts
Due: biome-format, biome-check, typescript-check

docs: add route testing template for standardized API tests
  docs/developers/route-testing-template.md
Due: none

refactor: streamline chat state management and enhance real-time features
  frontend/src/app/api/agents/accommodations/__tests__/route.test.ts
  frontend/src/app/api/agents/itineraries/route.ts
  frontend/src/app/api/jobs/memory-sync/route.ts
  frontend/src/components/layouts/__tests__/chat-layout.test.tsx
  frontend/src/components/layouts/chat-layout.tsx
  frontend/src/hooks/use-websocket-chat.ts
  frontend/src/lib/qstash/memory-sync.ts
  frontend/src/lib/ratelimit/routes.ts
  frontend/src/lib/schemas/calendar.ts
  frontend/src/lib/schemas/chat.ts
  frontend/src/lib/schemas/realtime.ts
  frontend/src/lib/schemas/webhooks.ts
  frontend/src/stores/__tests__/chat-store-realtime.test.ts
  frontend/src/stores/__tests__/chat/_shared.ts
  frontend/src/stores/__tests__/chat/chat-messages.test.ts
  frontend/src/stores/__tests__/chat/chat-realtime.test.ts
  frontend/src/stores/chat-store.ts
  frontend/src/stores/chat/chat-messages.ts
  frontend/src/stores/chat/chat-realtime.ts
  frontend/src/test/factories/stores.ts
Due: biome-format, biome-check, typescript-check

refactor: simplify imports and enhance function definitions in chat-related files
  frontend/src/hooks/use-websocket-chat.ts
  frontend/src/lib/qstash/memory-sync.ts
  frontend/src/stores/__tests__/chat/chat-realtime.test.ts
  frontend/src/stores/chat/chat-messages.ts
  frontend/src/stores/chat/chat-realtime.ts
Due: biome-format, biome-check, typescript-check

docs: update AGENTS.md with security guidelines for route handlers
  AGENTS.md
  frontend/.eslintrc.json
Due: biome-format, biome-check

test: enhance testing setup and improve mocks for various components
  frontend/src/app/api/agents/flights/__tests__/route.test.ts
  frontend/src/components/features/search/__tests__/destination-card.test.tsx
  frontend/src/components/features/search/__tests__/destination-search-form.helpers.test.ts
  frontend/src/components/features/search/__tests__/destination-search-form.test.tsx
  frontend/src/components/features/search/destination-search-form.tsx
  frontend/src/hooks/__tests__/use-authenticated-api.test.tsx
  frontend/src/hooks/__tests__/use-websocket-chat.test.tsx
  frontend/src/lib/next/__tests__/route-helpers-extended.test.ts
  frontend/src/lib/tools/__tests__/accommodations.test.ts
  frontend/src/stores/__tests__/auth/auth-session.test.ts
  frontend/src/stores/__tests__/user-store-fixed.test.ts
  frontend/src/test-setup.ts
Due: biome-format, biome-check, typescript-check

test: refactor tests to use act and fireEvent for improved interaction simulation
  frontend/src/app/(dashboard)/profile/__tests__/profile-page.test.tsx
  frontend/src/components/ai-elements/__tests__/sources.test.tsx
  frontend/src/components/features/dashboard/__tests__/recent-trips.test.tsx
  frontend/src/components/features/profile/__tests__/account-settings-section.test.tsx
  frontend/src/components/features/profile/__tests__/security-section.test.tsx
  frontend/src/components/features/search/__tests__/activity-search-form.test.tsx
  frontend/src/components/features/search/__tests__/destination-card.test.tsx
  frontend/src/components/features/trips/__tests__/itinerary-builder.test.tsx
  frontend/src/hooks/__tests__/use-accommodation-search.test.ts
  frontend/src/hooks/__tests__/use-authenticated-api.test.tsx
  frontend/src/hooks/__tests__/use-destination-search.test.ts
  frontend/src/hooks/__tests__/use-websocket-chat.test.tsx
Due: biome-format, biome-check, typescript-check

test: enhance accommodations route tests with rate limiting scenarios
  frontend/src/app/api/agents/accommodations/__tests__/route.test.ts
  frontend/src/components/features/realtime/optimistic-trip-updates.tsx
  frontend/src/hooks/use-trips.ts
Due: biome-format, biome-check, typescript-check

test: enhance test setup with window-specific mocks for improved reliability
  frontend/src/test-setup.ts
Due: biome-format, biome-check, typescript-check

test: improve test reliability by suppressing React act() warnings and enhancing async handling
  frontend/src/app/(dashboard)/profile/__tests__/profile-page.test.tsx
  frontend/src/components/features/profile/__tests__/security-section.test.tsx
  frontend/src/components/features/realtime/optimistic-trip-updates.tsx
  frontend/src/components/features/search/__tests__/activity-search-form.test.tsx
  frontend/src/hooks/__tests__/use-accommodation-search.test.ts
  frontend/src/hooks/__tests__/use-authenticated-api.test.tsx
  frontend/src/lib/agents/accommodation-agent.ts
  frontend/src/lib/env/schema.ts
  frontend/src/lib/schemas/agents.ts
  frontend/src/lib/tools/__tests__/accommodations.test.ts
  frontend/src/lib/tools/accommodations.ts
  frontend/src/lib/travel-api/expedia-client.ts
  frontend/src/lib/travel-api/expedia-types.ts
  frontend/src/stores/__tests__/auth/_shared.ts
  frontend/src/stores/__tests__/auth/auth-core.test.ts
  frontend/src/stores/__tests__/auth/auth-session.test.ts
  frontend/src/stores/auth/auth-core.ts
  frontend/src/stores/auth/auth-session.ts
  frontend/src/test-setup.ts
Due: biome-format, biome-check, typescript-check

chore: enhance auth store security by removing client-side token persistence
  CHANGELOG.md
Due: none

test: refactor tests to improve async handling and interaction simulation
  frontend/src/app/(dashboard)/profile/__tests__/profile-page.test.tsx
  frontend/src/app/api/agents/accommodations/route.ts
  frontend/src/app/api/agents/budget/route.ts
  frontend/src/app/api/agents/destinations/route.ts
  frontend/src/app/api/agents/flights/route.ts
  frontend/src/app/api/agents/itineraries/route.ts
  frontend/src/app/api/agents/memory/route.ts
  frontend/src/app/api/agents/router/route.ts
  frontend/src/hooks/__tests__/use-authenticated-api.test.tsx
  frontend/src/lib/agents/budget-agent.ts
  frontend/src/lib/agents/destination-agent.ts
  frontend/src/lib/agents/flight-agent.ts
  frontend/src/lib/agents/itinerary-agent.ts
  frontend/src/lib/agents/memory-agent.ts
  frontend/src/lib/providers/__tests__/registry.test.ts
  frontend/src/lib/tools/__tests__/accommodations.test.ts
  frontend/src/lib/tools/__tests__/telemetry.test.ts
  frontend/src/stores/__tests__/user-store-fixed.test.ts
Due: biome-format, biome-check, typescript-check

refactor: remove FlightService and related authentication components from the API
  frontend/src/hooks/__tests__/use-memory.test.ts
  tests/unit/services/test_flight_service.py
  tripsage/api/README.md
  tripsage/api/core/dependencies.py
  tripsage/api/main.py
  tripsage/api/routers/__init__.py
  tripsage/api/routers/auth.py
  tripsage/api/schemas/__init__.py
  tripsage/api/schemas/auth.py
  tripsage/app_state.py
  tripsage_core/README.md
  tripsage_core/services/business/flight_service.py
  tripsage_core/services/external_apis/__init__.py
  tripsage_core/services/external_apis/duffel_provider.py
  tripsage_core/services/external_apis/webcrawl_service.py
Due: biome-format, biome-check, typescript-check

test: improve test clarity and reset logic in useAuthenticatedApi and other test files
  frontend/src/hooks/__tests__/use-authenticated-api.test.tsx
  frontend/src/hooks/__tests__/use-memory.test.ts
  frontend/src/lib/providers/__tests__/registry.test.ts
  frontend/src/lib/tools/__tests__/telemetry.test.ts
  frontend/src/stores/__tests__/user-store-fixed.test.ts
Due: biome-format, biome-check, typescript-check

Path conditions:
  biome-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  biome-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
