Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for TripSage AI
# See https://pre-commit.com for more information
# Install with: pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: debug-statements

  # Frontend formatting
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && pnpm format:biome'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: biome-check
        name: biome-check
        entry: bash -c 'cd frontend && pnpm biome:check'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript-check
        entry: bash -c 'cd frontend && pnpm type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        stages: [commit]

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat: Add server directive to activities actions for improved server-side handling
  frontend/src/app/(dashboard)/search/activities/actions.ts
Due: biome-format, biome-check, typescript-check

chore: Release version 1.1.0 with security enhancements and feature updates
  CHANGELOG.md
  docs/api/realtime-api.md
  docs/architecture/frontend-architecture.md
  frontend/package.json
  frontend/src/app/(dashboard)/search/activities/actions.test.ts
  frontend/src/app/(dashboard)/search/activities/actions.ts
  frontend/src/app/(dashboard)/search/activities/page.tsx
  frontend/src/components/auth/mfa-setup.tsx
  frontend/src/components/features/realtime/connection-status-monitor.tsx
  frontend/src/components/features/search/trip-selection-modal.tsx
  frontend/src/components/layouts/__tests__/dashboard-layout.test.tsx
  frontend/src/components/layouts/sidebar-nav.tsx
  frontend/src/domain/schemas/registry.ts
  frontend/src/hooks/use-supabase-realtime.ts
  frontend/src/lib/auth/actions.ts
  frontend/src/stores/__tests__/realtime-connection-store.test.ts
  frontend/src/stores/realtime-connection-store.ts
Due: biome-format, biome-check, typescript-check

test: Enhance realtime connection store tests with unsubscribe/subscribe order validation
  frontend/src/stores/__tests__/realtime-connection-store.test.ts
Due: biome-format, biome-check, typescript-check

test(realtime-store): assert unsubscribe precedes subscribe
  frontend/src/stores/__tests__/realtime-connection-store.test.ts
Due: biome-format, biome-check, typescript-check

refactor: Update dashboard layout and connection status components for improved data handling
  frontend/src/components/features/realtime/connection-status-monitor.tsx
  frontend/src/components/layouts/__tests__/dashboard-layout.test.tsx
  frontend/src/components/layouts/dashboard-layout.tsx
  frontend/src/components/layouts/sidebar-nav.tsx
Due: biome-format, biome-check, typescript-check

test(activities): Add validation test for invalid activity data in addActivityToTrip function
  frontend/src/app/(dashboard)/search/activities/actions.test.ts
Due: biome-format, biome-check, typescript-check

docs: Update connection health documentation in Realtime API
  docs/api/realtime-api.md
Due: none

fix(activities): Improve error handling and state management in trip actions and search page
  frontend/src/app/(dashboard)/search/activities/actions.ts
  frontend/src/app/(dashboard)/search/activities/page.tsx
  frontend/src/components/features/realtime/connection-status-monitor.tsx
  frontend/src/stores/realtime-connection-store.ts
Due: biome-format, biome-check, typescript-check

refactor(realtime): Enhance connection status management and UI components
  docs/api/realtime-api.md
  frontend/src/app/(dashboard)/search/activities/actions.test.ts
  frontend/src/app/(dashboard)/search/activities/page.tsx
  frontend/src/components/features/realtime/connection-status-monitor.tsx
  frontend/src/components/features/search/trip-selection-modal.tsx
  frontend/src/components/layouts/__tests__/dashboard-layout.test.tsx
  frontend/src/components/layouts/dashboard-layout.tsx
  frontend/src/components/layouts/sidebar-nav.tsx
  frontend/src/lib/auth/actions.ts
  frontend/src/stores/__tests__/realtime-connection-store.test.ts
  frontend/src/stores/realtime-connection-store.ts
Due: biome-format, biome-check, typescript-check

fix(activities): Enhance trip ID validation in addActivityToTrip function
  frontend/src/app/(dashboard)/search/activities/actions.test.ts
  frontend/src/app/(dashboard)/search/activities/actions.ts
  frontend/src/app/(dashboard)/search/activities/page.tsx
  frontend/src/components/features/search/trip-selection-modal.tsx
  frontend/src/stores/__tests__/realtime-connection-store.test.ts
Due: biome-format, biome-check, typescript-check

fix(activities): Correct trip ID parameter in addActivityToTrip function
  frontend/src/app/(dashboard)/search/activities/actions.ts
  frontend/src/lib/auth/__tests__/actions.test.ts
Due: biome-format, biome-check, typescript-check

feat(activities): Add trip ID coercion and validation in addActivityToTrip function
  frontend/src/app/(dashboard)/search/activities/actions.test.ts
  frontend/src/app/(dashboard)/search/activities/actions.ts
  frontend/src/lib/auth/__tests__/actions.test.ts
  frontend/src/stores/__tests__/realtime-connection-store.test.ts
Due: biome-format, biome-check, typescript-check

feat(release): Implement semantic-release configuration and GitHub Actions for automated releases
  .github/workflows/release.yml
  docs/SUMMARY.md
  docs/developers/release-automation.md
  docs/developers/troubleshooting.md
  frontend/.npmrc
  frontend/package.json
  frontend/pnpm-lock.yaml
  release.config.mjs
Due: biome-format, biome-check

refactor(release): Update release configuration and documentation for semantic-release
  docs/developers/release-automation.md
  release.config.mjs
Due: none

chore(release): Update Node version and enhance release configuration
  .github/workflows/release.yml
  .nvmrc
  docs/developers/release-automation.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  release.config.mjs
Due: biome-format, biome-check

feat(release): Add NPM_TOKEN to release workflow and update documentation
  .github/workflows/release.yml
  .nvmrc
  docs/developers/release-automation.md
  release.config.mjs
Due: none

chore(release): 1.0.0 [skip ci]
  frontend/package.json
Due: biome-format, biome-check

Notes added by 'git notes add'
  a609e3273adb8cda324ec282cc9e0c6754e203f1
Due: none

docs: Add comprehensive API documentation for agents, authentication, calendar, chat, memory, places, and internal endpoints
  docs/api/README.md
  docs/api/agents.md
  docs/api/api-reference.md
  docs/api/auth.md
  docs/api/calendar.md
  docs/api/chat.md
  docs/api/index.md
  docs/api/internal/config.md
  docs/api/internal/index.md
  docs/api/internal/jobs.md
  docs/api/internal/webhooks.md
  docs/api/keys.md
  docs/api/memory.md
  docs/api/places.md
  docs/api/security.md
  docs/api/settings.md
  docs/api/trips.md
  docs/developers/mcp-servers/research-tasks/roadmap.md
  docs/guides/index.md
  docs/guides/realtime.md
Due: none

refactor(chat-sessions): accept userId param, remove redundant auth checks
  frontend/src/app/api/chat/sessions/__tests__/_handlers.test.ts
  frontend/src/app/api/chat/sessions/_handlers.ts
Due: biome-format, biome-check, typescript-check

refactor(chat-sessions): pass userId from routes to handlers
  frontend/src/app/api/chat/sessions/[id]/messages/route.ts
  frontend/src/app/api/chat/sessions/[id]/route.ts
  frontend/src/app/api/chat/sessions/route.ts
Due: biome-format, biome-check, typescript-check
