Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for TripSage AI
# See https://pre-commit.com for more information
# Install with: pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: debug-statements

  # Frontend formatting
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && pnpm format:biome'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: biome-check
        name: biome-check
        entry: bash -c 'cd frontend && pnpm biome:check'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript-check
        entry: bash -c 'cd frontend && pnpm type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        stages: [commit]

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

chore(release): 1.6.0 [skip ci]
  frontend/package.json
Due: biome-format, biome-check

Notes added by 'git notes add'
  58534708db056a2823603ab9b4f35e12859c9974
Due: none

feat(mfa): complete MFA/2FA implementation with Supabase Auth
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/(dashboard)/profile/__tests__/profile-page.test.tsx
  frontend/src/app/(dashboard)/profile/page.tsx
  frontend/src/app/(dashboard)/security/page.tsx
  frontend/src/app/api/auth/mfa/__tests__/challenge.route.test.ts
  frontend/src/app/api/auth/mfa/__tests__/setup.route.test.ts
  frontend/src/app/api/auth/mfa/__tests__/verify.route.test.ts
  frontend/src/app/api/auth/mfa/backup/regenerate/route.ts
  frontend/src/app/api/auth/mfa/backup/verify/route.ts
  frontend/src/app/api/auth/mfa/challenge/route.ts
  frontend/src/app/api/auth/mfa/factors/list/route.ts
  frontend/src/app/api/auth/mfa/sessions/revoke/route.ts
  frontend/src/app/api/auth/mfa/setup/route.ts
  frontend/src/app/api/auth/mfa/verify/route.ts
  frontend/src/app/settings/security/page.tsx
  frontend/src/components/auth/backup-code-verification.tsx
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/mfa-setup.tsx
  frontend/src/components/auth/mfa-verification.tsx
  frontend/src/components/auth/register-form.tsx
  frontend/src/components/features/profile/__tests__/profile-integration.test.tsx
  frontend/src/components/features/profile/__tests__/security-section.test.tsx
  frontend/src/components/features/profile/index.ts
  frontend/src/components/features/profile/security-section.tsx
  frontend/src/components/features/security/__tests__/mfa-panel.test.tsx
  frontend/src/components/features/security/mfa-panel.tsx
  frontend/src/components/layouts/__tests__/user-nav.test.tsx
  frontend/src/components/layouts/dashboard-layout.tsx
  frontend/src/components/layouts/user-nav.tsx
  frontend/src/domain/schemas/mfa.ts
  frontend/src/lib/ratelimit/routes.ts
  frontend/src/lib/security/__tests__/mfa.test.ts
  frontend/src/lib/security/mfa.ts
  frontend/src/lib/supabase/database.types.ts
  frontend/src/test/api-request-factory.ts
  supabase/migrations/20251122000000_base_schema.sql
  supabase/migrations/20251124090000_mfa_cleanup_job.sql
Due: biome-format, biome-check, typescript-check

test(mfa): fix test mocks to support Supabase query chains
  frontend/src/lib/security/__tests__/mfa.test.ts
Due: biome-format, biome-check, typescript-check

feat(mfa): add comprehensive JSDoc comments for MFA functions
  frontend/src/lib/security/__tests__/mfa.test.ts
  frontend/src/lib/security/mfa.ts
Due: biome-format, biome-check, typescript-check

feat(env): introduce centralized environment variable schema and update imports
  docs/specs/active/0033-spec-flatten-frontend-root-structure.md
  frontend/src/domain/schemas/env.ts
  frontend/src/lib/env/client.ts
  frontend/src/lib/env/index.ts
  frontend/src/lib/env/server.ts
Due: biome-format, biome-check, typescript-check

docs(README): update environment variable schema reference in documentation
  frontend/README.md
Due: none

feat(env): update environment variable configurations and documentation
  .env.example
  .env.test.example
  docs/architecture/database.md
  docs/development/standards.md
  frontend/README.md
Due: none

refactor(security): remove SecuritySettingsRedirect component and update budget schemas
  frontend/src/app/settings/security/page.tsx
  frontend/src/domain/schemas/budget.ts
  frontend/src/domain/schemas/mfa.ts
  supabase/migrations/20251122000000_base_schema.sql
  supabase/migrations/202511220002_agent_config_seed.sql
  supabase/migrations/20251124000001_api_metrics_table.sql
  supabase/migrations/20251124090000_mfa_cleanup_job.sql
Due: biome-format, biome-check, typescript-check

fix(auth): preserve relative redirects safely
  docs/api/security.md
  docs/development/testing.md
  docs/operations/security-guide.md
  frontend/src/lib/auth/__tests__/redirect.test.ts
  frontend/src/lib/auth/redirect.ts
Due: biome-format, biome-check, typescript-check

feat(mfa): harden backup flows and admin client reuse
  frontend/next.config.ts
  frontend/src/app/(dashboard)/security/page.tsx
  frontend/src/app/api/auth/mfa/__tests__/challenge.route.test.ts
  frontend/src/app/api/auth/mfa/__tests__/setup.route.test.ts
  frontend/src/app/api/auth/mfa/__tests__/verify.route.test.ts
  frontend/src/app/api/auth/mfa/backup/regenerate/route.ts
  frontend/src/app/api/auth/mfa/backup/verify/route.ts
  frontend/src/app/api/auth/mfa/challenge/route.ts
  frontend/src/app/api/auth/mfa/factors/list/route.ts
  frontend/src/app/api/auth/mfa/setup/route.ts
  frontend/src/app/api/auth/mfa/verify/route.ts
  frontend/src/app/api/flights/popular-destinations/route.ts
  frontend/src/app/auth/password/change/route.ts
  frontend/src/components/error/__tests__/error-fallback.test.tsx
  frontend/src/components/features/security/__tests__/mfa-panel.test.tsx
  frontend/src/components/features/security/mfa-panel.tsx
  frontend/src/lib/security/__tests__/mfa.test.ts
  frontend/src/lib/security/mfa.ts
  frontend/src/lib/supabase/admin.ts
  frontend/src/lib/supabase/database.types.ts
  frontend/src/test/api-request-factory.ts
  frontend/src/test/api-route-helpers.ts
Due: biome-format, biome-check, typescript-check

feat(auth): enhance login and registration components with improved metadata and async searchParams handling
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/api/auth/mfa/__tests__/challenge.route.test.ts
  frontend/src/components/features/profile/personal-info-section.tsx
  frontend/src/components/features/search/accommodation-card.tsx
  frontend/src/components/features/search/hotel-search-form.tsx
  frontend/src/lib/auth/__tests__/redirect.test.ts
  frontend/src/lib/auth/redirect.ts
Due: biome-format, biome-check, typescript-check

feat(mfa): enhance MFA flows and component interactions
  AGENTS.md
  docs/architecture/frontend-architecture.md
  frontend/src/app/api/auth/mfa/backup/verify/route.ts
  frontend/src/app/api/auth/mfa/sessions/revoke/route.ts
  frontend/src/app/api/auth/mfa/verify/route.ts
  frontend/src/components/auth/register-form.tsx
  frontend/src/components/features/security/mfa-panel.tsx
  frontend/src/lib/security/__tests__/mfa.test.ts
  supabase/migrations/20251122000000_base_schema.sql
Due: biome-format, biome-check, typescript-check

feat(mfa): refine MFA verification process and registration form
  frontend/src/app/api/auth/mfa/__tests__/verify.route.test.ts
  frontend/src/app/api/auth/mfa/verify/route.ts
  frontend/src/components/auth/register-form.tsx
  frontend/src/lib/security/__tests__/mfa.test.ts
  frontend/src/lib/security/mfa.ts
Due: biome-format, biome-check, typescript-check

fix(auth): harden signup and mfa flows
  frontend/src/app/api/auth/mfa/backup/verify/route.ts
  frontend/src/components/auth/register-form.tsx
  frontend/src/components/features/security/mfa-panel.tsx
  frontend/src/domain/schemas/mfa.ts
  frontend/src/lib/auth/__tests__/redirect.test.ts
  frontend/src/lib/security/__tests__/mfa.test.ts
  frontend/src/lib/security/mfa.ts
Due: biome-format, biome-check, typescript-check

chore(deps): update AI SDK and Supabase versions; enhance MFA error handling and redirect tests
  AGENTS.md
  frontend/src/app/api/auth/mfa/sessions/revoke/route.ts
  frontend/src/lib/auth/__tests__/redirect.test.ts
  frontend/src/lib/security/mfa.ts
Due: biome-format, biome-check, typescript-check

chore(env): update .env.example and documentation for MFA backup code handling
  .env.example
  docs/api/security.md
  docs/development/testing.md
  docs/operations/security-guide.md
  frontend/README.md
Due: none

docs(security): update MFA backup code documentation and audit trail details
  docs/api/security.md
  docs/operations/security-guide.md
Due: none

test(flights): add comprehensive test coverage for router agent and flight mappers
  frontend/src/ai/agents/__tests__/router-agent.test.ts
  frontend/src/domain/flights/__tests__/mappers.test.ts
  frontend/src/domain/flights/__tests__/service.test.ts
  frontend/src/lib/cache/__tests__/upstash.test.ts
  frontend/src/lib/http/__tests__/retry.test.ts
  frontend/src/lib/memory/__tests__/orchestrator.test.ts
  frontend/src/lib/payments/__tests__/booking-payment.test.ts
  frontend/src/lib/payments/__tests__/stripe-client.test.ts
Due: biome-format, biome-check, typescript-check

test: add integration tests for cache utilities and query keys
  frontend/@types/google.maps.d.ts
  frontend/package.json
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/(dashboard)/security/page.tsx
  frontend/src/app/api/auth/mfa/__tests__/challenge.route.test.ts
  frontend/src/app/api/auth/mfa/__tests__/setup.route.test.ts
  frontend/src/app/api/auth/mfa/__tests__/verify.route.test.ts
  frontend/src/app/api/auth/mfa/backup/regenerate/route.ts
  frontend/src/app/api/auth/mfa/backup/verify/route.ts
  frontend/src/app/api/auth/mfa/sessions/revoke/route.ts
  frontend/src/app/api/auth/mfa/setup/route.ts
  frontend/src/app/api/auth/mfa/verify/route.ts
  frontend/src/components/Map.tsx
  frontend/src/components/PlacesAutocomplete.tsx
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/register-form.tsx
  frontend/src/components/features/security/__tests__/mfa-panel.test.tsx
  frontend/src/components/features/security/mfa-panel.tsx
  frontend/src/domain/schemas/mfa.ts
  frontend/src/hooks/use-realtime-channel.ts
  frontend/src/lib/api/api-client.ts
  frontend/src/lib/auth/__tests__/redirect.test.ts
  frontend/src/lib/auth/redirect.ts
  frontend/src/lib/cache/__tests__/cache-integration.test.ts
  frontend/src/lib/cache/__tests__/hash.test.ts
  frontend/src/lib/cache/__tests__/keys.test.ts
  frontend/src/lib/cache/__tests__/query-cache.test.ts
  frontend/src/lib/calendar/calendar-integration.ts
  frontend/src/lib/embeddings/generate.ts
  frontend/src/lib/payments/stripe-client.ts
  frontend/src/lib/qstash/memory-sync.ts
  frontend/src/lib/security/mfa-client.ts
  frontend/src/lib/security/mfa.ts
  frontend/src/lib/url/client-origin.ts
  frontend/src/lib/url/server-origin.ts
Due: biome-format, biome-check, typescript-check
