Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && pnpm format:biome'
  language: system
  stages:
  - commit

biome-check:
  name: biome-check
  entry: bash -c 'cd frontend && pnpm biome:check'
  language: system
  stages:
  - commit

typescript-check:
  name: typescript-check
  entry: bash -c 'cd frontend && pnpm type-check'
  language: system
  pass_filenames: false
  stages:
  - commit

test: refactor React key prop tests for improved clarity and warning handling
  frontend/src/__tests__/react-keys.test.tsx
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/api/calendar/__tests__/README.md
  frontend/src/app/api/calendar/__tests__/events.test.ts
  frontend/src/app/api/calendar/__tests__/ics-export.test.ts
  frontend/src/app/api/calendar/events/route.ts
  frontend/src/app/api/calendar/freebusy/route.ts
  frontend/src/app/api/calendar/ics/export/route.ts
  frontend/src/app/api/calendar/ics/import/route.ts
  frontend/src/app/auth/email/resend/route.ts
  frontend/src/app/auth/email/verify/route.ts
  frontend/src/lib/__tests__/zod-v4-resolver.test.tsx
  frontend/src/lib/next/__tests__/route-helpers-extended.test.ts
  frontend/src/lib/next/route-helpers.ts
  frontend/src/lib/providers/__tests__/registry.test.ts
  frontend/src/lib/schemas/calendar.ts
Due: biome-format, biome-check, typescript-check

docs: update AGENTS.md to clarify single file test execution
  AGENTS.md
Due: none

test: enhance RealtimeAuthProvider tests with improved mock implementations and clarity
  frontend/src/__tests__/realtime-auth-provider.test.tsx
  frontend/src/lib/tokens/__tests__/budget.test.ts
  frontend/src/lib/tools/__tests__/telemetry.test.ts
  frontend/src/stores/__tests__/trip-store.test.ts
  frontend/src/test/trip-store-test-helpers.ts
Due: biome-format, biome-check, typescript-check

test: enhance test files with async handling and environment setup
  frontend/src/app/chat/__tests__/midstream-resume-continuity.test.tsx
  frontend/src/components/ai-elements/__tests__/prompt-input.test.tsx
  frontend/src/components/features/profile/__tests__/account-settings-section.test.tsx
  frontend/src/components/features/profile/__tests__/personalization-insights.test.tsx
  frontend/src/hooks/__tests__/use-authenticated-api.test.tsx
  frontend/src/hooks/__tests__/use-memory.test.ts
  frontend/src/hooks/__tests__/use-supabase-storage.test.tsx
  frontend/src/stores/__tests__/chat/chat-messages.test.ts
  frontend/src/stores/__tests__/search-history/settings-utils-analytics.test.ts
Due: biome-format, biome-check, typescript-check

chore: implement Supabase-first auth flows and reset orchestration
  CHANGELOG.md
Due: none

feat: implement comprehensive Supabase authentication routes
  frontend/src/app/auth/login/route.ts
  frontend/src/app/auth/logout/route.ts
  frontend/src/app/auth/me/route.ts
  frontend/src/app/auth/password/change/route.ts
  frontend/src/app/auth/password/reset-request/route.ts
  frontend/src/app/auth/password/reset/route.ts
  frontend/src/app/auth/register/route.ts
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/register-form.tsx
  frontend/src/components/auth/reset-password-form.tsx
  frontend/src/lib/auth/server.ts
  frontend/src/lib/tokens/__tests__/budget.test.ts
  frontend/src/stores/__tests__/auth/_shared.ts
  frontend/src/stores/__tests__/auth/auth-core.test.ts
  frontend/src/stores/__tests__/auth/auth-validation.test.ts
  frontend/src/stores/auth/auth-core.ts
  frontend/src/stores/auth/auth-session.ts
  frontend/src/stores/auth/auth-validation.ts
  frontend/src/stores/auth/reset-auth.ts
Due: biome-format, biome-check, typescript-check

test: add JSDOM environment declaration and improve async handling in tests
  frontend/src/app/(dashboard)/profile/__tests__/profile-page.test.tsx
  frontend/src/components/ai-elements/__tests__/prompt-input.test.tsx
  frontend/src/components/features/profile/__tests__/security-section.test.tsx
  frontend/src/components/features/search/__tests__/activity-search-form.test.tsx
  frontend/src/hooks/__tests__/use-supabase-storage.test.tsx
Due: biome-format, biome-check, typescript-check

chore: update .gitignore to include frontend testing directory
  .gitignore
Due: none

refactor: standardize API route helpers and improve error handling
  CHANGELOG.md
  frontend/src/app/api/agents/accommodations/route.ts
  frontend/src/app/api/agents/budget/route.ts
  frontend/src/app/api/agents/destinations/route.ts
  frontend/src/app/api/agents/flights/route.ts
  frontend/src/app/api/agents/itineraries/route.ts
  frontend/src/app/api/agents/memory/route.ts
  frontend/src/app/api/agents/router/route.ts
  frontend/src/app/api/ai/stream/route.ts
  frontend/src/app/api/chat/route.ts
  frontend/src/app/api/chat/sessions/route.ts
  frontend/src/app/api/chat/stream/route.ts
  frontend/src/app/api/embeddings/route.ts
  frontend/src/app/api/geocode/route.ts
  frontend/src/app/api/keys/route.ts
  frontend/src/app/api/keys/validate/route.ts
  frontend/src/app/api/places/details/[id]/route.ts
  frontend/src/app/api/places/photo/route.ts
  frontend/src/app/api/places/search/route.ts
  frontend/src/app/api/route-matrix/route.ts
  frontend/src/app/api/routes/route.ts
  frontend/src/app/api/telemetry/ai-demo/route.ts
  frontend/src/app/api/timezone/route.ts
  frontend/src/app/api/user-settings/route.ts
Due: biome-format, biome-check, typescript-check

docs: update AGENTS.md to refine agent guidelines and clarify rules
  AGENTS.md
Due: none

test: enhance integration tests for AI stream and key validation routes
  frontend/src/app/api/ai/stream/__tests__/route.integration.test.ts
  frontend/src/app/api/keys/validate/__tests__/route.test.ts
  frontend/src/components/ai-elements/__tests__/prompt-input.test.tsx
  frontend/src/components/features/profile/__tests__/account-settings-section.test.tsx
  frontend/src/components/features/profile/__tests__/personalization-insights.test.tsx
  frontend/src/hooks/__tests__/use-supabase-storage.test.tsx
Due: biome-format, biome-check, typescript-check

refactor: streamline authentication logic and remove legacy test cases
  frontend/src/stores/__tests__/auth/auth-core.test.ts
  frontend/src/stores/auth/auth-core.ts
Due: biome-format, biome-check, typescript-check

refactor: finalize auth core view-model and streamline state management
  CHANGELOG.md
Due: none

feat(auth): guard dashboard and AI routes
  CHANGELOG.md
  frontend/src/app/(dashboard)/layout.tsx
  frontend/src/app/api/agents/itineraries/route.ts
  frontend/src/app/api/agents/router/route.ts
  frontend/src/app/api/chat/attachments/route.ts
  frontend/src/app/api/chat/route.ts
  frontend/src/app/api/chat/stream/route.ts
  frontend/src/app/api/keys/validate/__tests__/route.test.ts
  frontend/src/app/attachments/page.tsx
  frontend/src/app/chat/layout.tsx
  frontend/src/app/settings/layout.tsx
  frontend/src/lib/auth/__tests__/server.test.ts
Due: biome-format, biome-check, typescript-check

docs: enhance documentation structure and add maintenance guidelines
  docs/architecture/README.md
  docs/architecture/route-exceptions.md
  docs/developers/development-guide.md
  docs/developers/stores.md
  docs/developers/testing-guide.md
  docs/index.md
  docs/maintenance.md
  docs/metrics.md
  docs/migrations/api-factory.md
  docs/performance.md
  frontend/README.md
  frontend/src/app/api/ai/stream/__tests__/route.integration.test.ts
  frontend/src/app/api/keys/route.ts
  frontend/src/components/ai-elements/__tests__/prompt-input.test.tsx
  frontend/src/components/features/profile/__tests__/account-settings-section.test.tsx
Due: biome-format, biome-check, typescript-check

docs: update README.md to include new development resources
  docs/developers/README.md
Due: none

chore: update changelog and refactor Next.js configuration
  CHANGELOG.md
  frontend/next.config.ts
  frontend/src/__tests__/realtime-auth-provider.test.tsx
  frontend/src/app/api/keys/validate/__tests__/route.test.ts
  frontend/src/app/api/user-settings/actions.ts
Due: biome-format, biome-check, typescript-check

feat(auth): enhance authentication routes and clean up legacy code
  CHANGELOG.md
  frontend/src/app/auth/login/__tests__/route.test.ts
  frontend/src/app/auth/logout/__tests__/route.test.ts
  frontend/src/app/auth/me/__tests__/route.test.ts
  frontend/src/app/auth/register/__tests__/route.test.ts
  frontend/src/app/settings/api-keys/page.tsx
  frontend/src/components/providers/realtime-auth-provider.tsx
  frontend/src/lib/supabase/token.ts
Due: biome-format, biome-check, typescript-check

refactor(auth): simplify use-authenticated-api hook and enhance test coverage
  CHANGELOG.md
  frontend/src/app/auth/callback/__tests__/route.test.ts
  frontend/src/app/auth/confirm/__tests__/route.test.ts
  frontend/src/app/auth/login/__tests__/route.test.ts
  frontend/src/app/auth/logout/__tests__/route.test.ts
  frontend/src/app/auth/me/__tests__/route.test.ts
  frontend/src/app/auth/register/__tests__/route.test.ts
  frontend/src/hooks/__tests__/use-authenticated-api.test.tsx
  frontend/src/hooks/use-authenticated-api.ts
Due: biome-format, biome-check, typescript-check

feat(boundary-check): add script for detecting server-only imports in client components
  frontend/scripts/check-boundaries.js
Due: biome-format, biome-check

Path conditions:
  biome-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  biome-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
