Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && pnpm format:biome'
  language: system
  stages:
  - commit

biome-check:
  name: biome-check
  entry: bash -c 'cd frontend && pnpm biome:check'
  language: system
  stages:
  - commit

typescript-check:
  name: typescript-check
  entry: bash -c 'cd frontend && pnpm type-check'
  language: system
  pass_filenames: false
  stages:
  - commit

test: enhance ChatLayout and ChatSidebar tests with improved mock implementations
  frontend/src/components/layouts/__tests__/chat-layout.test.tsx
Due: biome-format, biome-check, typescript-check

refactor: remove obsolete test utility file and streamline testing setup
  AGENTS.md
  frontend/src/test/test-utils.test.tsx
Due: biome-format, biome-check, typescript-check

docs(mcp): add automation research
  docs/developers/mcp-servers/ai-elements-mcp.md
  docs/developers/mcp-servers/browser-automation/apify-mcp.md
  docs/developers/mcp-servers/browser-automation/browser-use-mcp.md
  docs/developers/mcp-servers/browser-automation/browserbase-mcp.md
  docs/developers/mcp-servers/browser-automation/decision-matrix.md
  docs/developers/mcp-servers/browser-automation/overview.md
  docs/developers/mcp-servers/browser-automation/playwright-mcp.md
  docs/developers/mcp-servers/dev-mcp-server-research.md
  docs/developers/mcp-servers/mcp-server-setup.md
  docs/developers/mcp-servers/research-tasks/roadmap.md
  docs/prompts/mcp/00-mcp-integration-and-automation-plan.md
Due: none

test(chat-layout): replace user-event timers with synchronous click; use role-based queries for speed and stability
  frontend/src/__tests__/react-keys.test.tsx
  frontend/src/app/__tests__/error-boundaries-integration.test.tsx
  frontend/src/components/layouts/__tests__/chat-layout.test.tsx
Due: biome-format, biome-check, typescript-check

fix(agent-monitoring): remove whileHover/layout on DOM; guard SVG gradient defs in tests to silence React warnings
  frontend/src/components/features/agent-monitoring/communication/agent-collaboration-hub.tsx
  frontend/src/components/features/agent-monitoring/dashboard/agent-status-dashboard.tsx
Due: biome-format, biome-check, typescript-check

refactor(chat-layout): accept sessions prop and add semantic testids for sidebar state
  frontend/src/components/layouts/chat-layout.tsx
Due: biome-format, biome-check, typescript-check

test(test-utils): update imports to @/test/test-utils and stabilize test bootstrap
  frontend/src/components/features/agent-monitoring/__tests__/agent-workflow.test.tsx
  frontend/src/components/features/dashboard/__tests__/quick-actions.test.tsx
  frontend/src/components/features/dashboard/__tests__/recent-trips.test.tsx
  frontend/src/components/features/dashboard/__tests__/trip-suggestions.test.tsx
  frontend/src/components/features/dashboard/__tests__/upcoming-flights.test.tsx
  frontend/src/components/features/profile/__tests__/account-settings-section.test.tsx
  frontend/src/components/features/profile/__tests__/profile-integration.test.tsx
  frontend/src/components/features/search/__tests__/destination-card.test.tsx
  frontend/src/components/features/search/__tests__/destination-search-form.test.tsx
  frontend/src/components/features/trips/__tests__/itinerary-builder.test.tsx
  frontend/src/components/ui/__tests__/loading-skeletons.test.tsx
  frontend/src/components/ui/__tests__/loading-spinner.test.tsx
  frontend/src/components/ui/__tests__/skeleton.test.tsx
  frontend/src/components/ui/__tests__/travel-skeletons.test.tsx
  frontend/src/hooks/__tests__/use-authenticated-api.test.tsx
  frontend/src/hooks/__tests__/use-supabase-query.test.tsx
  frontend/src/hooks/__tests__/use-supabase-storage.test.tsx
  frontend/src/test-setup.ts
Due: biome-format, biome-check, typescript-check

test(trips): remove unused vitest import; chore(test): replace any in timers helper with strict types
  frontend/src/test/timers.ts
Due: biome-format, biome-check, typescript-check

test(ai-stream): stub token math and shrink prompt for faster integration run
  frontend/src/app/api/ai/stream/__tests__/route.integration.test.ts
Due: biome-format, biome-check, typescript-check

test(test-utils): migrate remaining suites to @/test/test-utils imports
  frontend/src/components/error/__tests__/error-boundary.test.tsx
  frontend/src/components/layouts/__tests__/chat-layout.test.tsx
  frontend/src/hooks/__tests__/use-accommodation-search.test.ts
  frontend/src/hooks/__tests__/use-activity-search.test.ts
Due: biome-format, biome-check, typescript-check

chore(agent-monitoring): format chart gradient gating per Biome
  frontend/src/components/features/agent-monitoring/dashboard/agent-status-dashboard.tsx
Due: biome-format, biome-check, typescript-check

docs(test): update changelog and vitest performance snapshot + guidance
  CHANGELOG.md
  frontend/docs/testing/vitest-performance.md
Due: none

test(factories): add Zustand store state factories and shared render utilities
  frontend/src/test/factories/stores.ts
  frontend/src/test/test-utils.tsx
Due: biome-format, biome-check, typescript-check

chore(config): add test env templates
  .cursor/rules/simplicity-rule.mdc
  .env.test.example
  .github/secret_scanning.yml
  scripts/testing/README.md
  tests/.env.test.example
Due: none

feat(keys): validate BYOK keys via ai sdk clients
  frontend/src/app/api/keys/validate/__tests__/route.test.ts
  frontend/src/app/api/keys/validate/route.ts
Due: biome-format, biome-check, typescript-check

feat(frontend): enforce user-aware key limits
  frontend/src/app/api/keys/[service]/route.ts
  frontend/src/app/api/keys/__tests__/route.test.ts
  frontend/src/app/api/keys/route.ts
  frontend/src/app/api/keys/validate/__tests__/route.test.ts
  frontend/src/app/api/keys/validate/route.ts
Due: biome-format, biome-check, typescript-check

fix(api/keys): handle authentication errors in POST request
  frontend/src/app/api/keys/route.ts
Due: biome-format, biome-check, typescript-check

chore(frontend): update AI SDK dependencies to latest beta versions\n\n- Bump versions for @ai-sdk/anthropic, @ai-sdk/openai, @ai-sdk/react, ai, and lucide-react in package.json and pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

fix(keys-validate): resolve review threads
  frontend/src/app/api/keys/validate/route.ts
Due: biome-format, biome-check, typescript-check

fix(keys): harden anonymous rate limit identifier
  frontend/src/app/api/keys/validate/__tests__/route.test.ts
  frontend/src/app/api/keys/validate/route.ts
Due: biome-format, biome-check, typescript-check

Path conditions:
  biome-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  biome-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
