Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for TripSage AI
# See https://pre-commit.com for more information
# Install with: pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: debug-statements

  # Frontend formatting
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && pnpm format:biome'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: biome-check
        name: biome-check
        entry: bash -c 'cd frontend && pnpm biome:check'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript-check
        entry: bash -c 'cd frontend && pnpm type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        stages: [commit]

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

docs: update documentation paths and improve clarity
  .gitignore
  CHANGELOG.md
  README.md
  docs/development/ai-tools.md
  docs/specs/active/0033-spec-flatten-frontend-root-structure.md
  docs/specs/archive/0019-spec-hybrid-destination-itinerary-agents.md
Due: none

docs: refine type annotations in ai-tools.md for clarity
  docs/development/ai-tools.md
Due: none

docs: correct test file path in ai-tools.md for accuracy
  docs/development/ai-tools.md
Due: none

feat: add scripts for analyzing test failures and monitoring memory usage
  frontend/scripts/analyze-test-failures.mjs
  frontend/scripts/test-memory-monitor.mjs
  frontend/scripts/update-test-imports.js
Due: biome-format, biome-check

feat: add comprehensive health check command and update AI credential handling
  frontend/scripts/ops.ts
Due: biome-format, biome-check, typescript-check

chore: remove obsolete scripts for analyzing test failures and boundary checks
  frontend/scripts/analyze-test-failures.mjs
  frontend/scripts/check-boundaries.js
Due: biome-format, biome-check

feat: enhance CI/CD workflows and add test failure analysis
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  frontend/package.json
  frontend/scripts/benchmark-tests.ts
  frontend/scripts/check-boundaries.mjs
  frontend/scripts/ops.ts
  frontend/scripts/run-benchmark.mjs
  frontend/scripts/test-memory-monitor.mjs
Due: biome-format, biome-check, typescript-check

chore: update .gitignore to streamline file tracking
  .gitignore
Due: none

refactor: improve test structure and enhance mock handling
  docs/development/testing.md
  frontend/src/ai/tools/server/__tests__/web-search.test.ts
  frontend/src/app/api/calendar/__tests__/ics-import.test.ts
  frontend/src/app/api/chat/__tests__/_handler.test.ts
  frontend/src/app/api/chat/__tests__/route.smoke.test.ts
  frontend/src/app/api/chat/stream/__tests__/_handler.test.ts
  frontend/src/app/api/chat/stream/__tests__/route.smoke.test.ts
  frontend/src/components/features/dashboard/__tests__/index.test.ts
  frontend/src/components/features/dashboard/__tests__/quick-actions.test.tsx
  frontend/src/components/features/dashboard/__tests__/recent-trips.test.tsx
  frontend/src/components/features/dashboard/__tests__/upcoming-flights.test.tsx
  frontend/src/components/features/dashboard/recent-trips.tsx
  frontend/src/components/features/dashboard/upcoming-flights.tsx
  frontend/src/components/features/search/__tests__/destination-search-form.test.tsx
  frontend/src/hooks/__tests__/use-memory.test.ts
  frontend/src/lib/telemetry/__tests__/alerts.test.ts
  frontend/src/lib/telemetry/alerts.ts
  frontend/src/lib/telemetry/constants.ts
  frontend/src/test/utils/with-fake-timers.ts
Due: biome-format, biome-check, typescript-check

docs: update operators reference and README for clarity and structure
  docs/operations/operators-reference.md
  frontend/README.md
Due: none

refactor: enhance testing utilities and improve error handling
  docs/development/testing.md
  frontend/scripts/benchmark-tests.ts
  frontend/scripts/check-boundaries.mjs
  frontend/scripts/run-benchmark.mjs
  frontend/src/ai/tools/server/__tests__/web-search.test.ts
  frontend/src/app/api/chat/__tests__/_handler.test.ts
  frontend/src/app/api/chat/stream/__tests__/_handler.test.ts
  frontend/src/app/api/chat/stream/__tests__/route.smoke.test.ts
  frontend/src/components/features/dashboard/__tests__/recent-trips.test.tsx
  frontend/src/components/features/dashboard/__tests__/upcoming-flights.test.tsx
  frontend/src/lib/telemetry/__tests__/alerts.test.ts
  frontend/src/test/utils/with-fake-timers.ts
Due: biome-format, biome-check, typescript-check

refactor: enhance infrastructure validation in deploy workflow
  .github/workflows/deploy.yml
Due: none

refactor: improve testing documentation and enhance error handling
  docs/development/testing.md
  frontend/scripts/check-boundaries.mjs
  frontend/src/ai/tools/server/__tests__/web-search.test.ts
  frontend/src/app/api/chat/stream/__tests__/route.smoke.test.ts
  frontend/src/components/features/dashboard/__tests__/upcoming-flights.test.tsx
  frontend/src/test/fixtures/flights.ts
Due: biome-format, biome-check, typescript-check

refactor: enhance error handling and improve test structure
  frontend/scripts/check-boundaries.mjs
  frontend/src/ai/tools/server/__tests__/web-search.test.ts
  frontend/src/app/api/chat/stream/__tests__/route.smoke.test.ts
  frontend/src/components/features/dashboard/__tests__/upcoming-flights.test.tsx
  frontend/src/test/fixtures/flights.ts
Due: biome-format, biome-check, typescript-check

chore(release): 1.3.0 [skip ci]
  frontend/package.json
Due: biome-format, biome-check

Notes added by 'git notes add'
  80cb2aba7511bdf8a50f2b2fe8faaa469a736293
Due: none

refactor(agents): centralize tool registry and align v6 loops
  frontend/src/lib/agents/__tests__/budget-agent.test.ts
  frontend/src/lib/agents/__tests__/itinerary-agent.test.ts
  frontend/src/lib/agents/accommodation-agent.ts
  frontend/src/lib/agents/budget-agent.ts
  frontend/src/lib/agents/itinerary-agent.ts
  frontend/src/lib/agents/registry-utils.ts
Due: biome-format, biome-check, typescript-check

chore: resolve review threads PRRT_kwDOOm4ohs5kAr3T PRRT_kwDOOm4ohs5kAr3U
  frontend/src/lib/agents/__tests__/budget-agent.test.ts
  frontend/src/lib/agents/registry-utils.ts
Due: biome-format, biome-check, typescript-check

chore: resolve review threads PRRT_kwDOOm4ohs5kAslv PRRT_kwDOOm4ohs5kAslw PRRT_kwDOOm4ohs5kAsly PRRT_kwDOOm4ohs5kAslz PRRT_kwDOOm4ohs5kAsl1
  frontend/src/lib/agents/__tests__/budget-agent.test.ts
  frontend/src/lib/agents/__tests__/itinerary-agent.test.ts
  frontend/src/lib/agents/accommodation-agent.ts
  frontend/src/lib/agents/itinerary-agent.ts
  frontend/src/lib/agents/registry-utils.ts
  frontend/src/test-utils/deep-clone.ts
Due: biome-format, biome-check, typescript-check

chore: unify accommodation tools with registry pattern
  frontend/src/ai/tools/index.ts
  frontend/src/lib/agents/accommodation-agent.ts
  frontend/src/lib/agents/registry-utils.ts
Due: biome-format, biome-check, typescript-check

refactor: harden registry contract and agent tooling
  frontend/src/ai/tools/index.ts
  frontend/src/ai/tools/server/types.ts
  frontend/src/lib/agents/registry-utils.ts
Due: biome-format, biome-check, typescript-check
