Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && pnpm format:biome'
  language: system
  stages:
  - commit

biome-check:
  name: biome-check
  entry: bash -c 'cd frontend && pnpm biome:check'
  language: system
  stages:
  - commit

typescript-check:
  name: typescript-check
  entry: bash -c 'cd frontend && pnpm type-check'
  language: system
  pass_filenames: false
  stages:
  - commit

refactor: enhance schema validation and introduce new utilities
  frontend/biome.json
  frontend/src/lib/api/__tests__/api-client.test.ts
  frontend/src/lib/calendar/__tests__/calendar-integration.test.ts
  frontend/src/lib/dates/recurring-rules.ts
  frontend/src/lib/dates/unified-date-utils.ts
  frontend/src/lib/realtime/backoff.ts
  frontend/src/lib/repositories/trips-repo.ts
  frontend/src/lib/schemas/accommodations.ts
  frontend/src/lib/schemas/agent-status.ts
  frontend/src/lib/schemas/agents.ts
  frontend/src/lib/schemas/api.ts
  frontend/src/lib/schemas/budget.ts
  frontend/src/lib/schemas/configuration.ts
  frontend/src/lib/schemas/currency.ts
  frontend/src/lib/schemas/deals.ts
  frontend/src/lib/schemas/forms.ts
  frontend/src/lib/schemas/index.ts
  frontend/src/lib/schemas/providers.ts
  frontend/src/lib/schemas/realtime.ts
  frontend/src/lib/schemas/search.ts
  frontend/src/lib/schemas/temporal.ts
  frontend/src/lib/schemas/tokens.ts
  frontend/src/lib/schemas/tools.ts
  frontend/src/lib/schemas/validation.ts
  frontend/src/lib/supabase/typed-helpers.ts
  frontend/src/lib/tokens/budget.ts
  frontend/src/lib/tokens/limits.ts
  frontend/src/lib/tools/approvals.ts
  frontend/src/lib/tools/errors.ts
  frontend/src/lib/tools/planning.ts
  frontend/src/lib/tools/travel-advisory/providers.ts
  frontend/src/lib/tools/types.ts
  frontend/src/lib/travel-api/expedia-types.ts
Due: biome-format, biome-check, typescript-check

refactor(supabase): unify client factory with OTEL tracing and eliminate duplicate getUser calls
  CHANGELOG.md
  frontend/middleware.ts
  frontend/src/app/(auth)/reset-password/page.tsx
  frontend/src/lib/supabase/__tests__/factory.spec.ts
  frontend/src/lib/supabase/database.types.ts
  frontend/src/lib/supabase/factory.ts
  frontend/src/lib/supabase/index.ts
  frontend/src/lib/supabase/server.ts
Due: biome-format, biome-check, typescript-check

chore: update .gitignore and enhance Supabase SSR tests
  .gitignore
  CHANGELOG.md
  frontend/src/hooks/use-agent-status-websocket.ts
  frontend/src/lib/supabase/__tests__/factory.spec.ts
Due: biome-format, biome-check, typescript-check

chore: update files after author rewrite attempt
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/auth/register-form.tsx
  frontend/src/components/auth/reset-password-form.tsx
  frontend/src/components/providers/realtime-auth-provider.tsx
  frontend/src/hooks/use-agent-status-websocket.ts
  frontend/src/hooks/use-supabase-chat.ts
  frontend/src/hooks/use-supabase-storage.ts
  frontend/src/lib/repositories/trips-repo.ts
Due: biome-format, biome-check, typescript-check

chore: remove unused calendar dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

refactor: enhance Realtime channel management and introduce backoff logic
  docs/architecture/frontend-architecture.md
  docs/architecture/supabase-ssr-frontend.md
  frontend/src/hooks/__tests__/use-realtime-channel.test.ts
  frontend/src/hooks/use-realtime-channel.ts
  frontend/src/lib/realtime/backoff.ts
Due: biome-format, biome-check, typescript-check

refactor: enhance Supabase integration and improve chat store functionality
  frontend/README.md
  frontend/src/hooks/use-supabase-realtime.ts
  frontend/src/hooks/use-websocket-chat.ts
  frontend/src/lib/supabase/__tests__/factory.spec.ts
  frontend/src/lib/supabase/__tests__/server.test.ts
  frontend/src/stores/__tests__/chat-store-realtime.test.ts
  frontend/src/stores/chat-store.ts
Due: biome-format, biome-check, typescript-check

refactor(supabase): introduce createMiddlewareSupabase for Edge runtime compatibility
  frontend/middleware.ts
  frontend/src/lib/supabase/__tests__/factory.spec.ts
  frontend/src/lib/supabase/factory.ts
  frontend/src/lib/supabase/guards.ts
  frontend/src/lib/supabase/index.ts
Due: biome-format, biome-check, typescript-check

refactor: improve calendar event list and trip components
  frontend/src/components/calendar/calendar-event-list.tsx
  frontend/src/components/features/agent-monitoring/dashboard/agent-status-dashboard.tsx
  frontend/src/components/features/dashboard/recent-trips.tsx
  frontend/src/components/features/dashboard/upcoming-flights.tsx
  frontend/src/components/features/profile/personal-info-section.tsx
  frontend/src/components/features/trips/trip-card.tsx
  frontend/src/components/features/trips/trip-timeline.tsx
Due: biome-format, biome-check, typescript-check

refactor(supabase): update cookie handling to use CookieMethodsServer interface
  frontend/src/lib/supabase/__tests__/factory.spec.ts
  frontend/src/lib/supabase/factory.ts
  frontend/src/lib/supabase/index.ts
Due: biome-format, biome-check, typescript-check

refactor: simplify chat realtime architecture and enhance store functionality
  CHANGELOG.md
  frontend/src/hooks/__tests__/use-supabase-realtime.test.tsx
  frontend/src/hooks/__tests__/use-websocket-chat.test.tsx
  frontend/src/hooks/use-supabase-realtime.ts
  frontend/src/hooks/use-websocket-chat.ts
  frontend/src/stores/__tests__/chat-store-realtime.test.ts
  frontend/src/stores/chat-store.ts
  frontend/src/test/factories/stores.ts
Due: biome-format, biome-check, typescript-check

refactor: continue unifying Supabase factory and client handling
  docs/architecture/supabase-ssr-frontend.md
  frontend/src/app/api/chat/sessions/__tests__/_handlers.test.ts
  frontend/src/app/api/keys/__tests__/_handlers.test.ts
  frontend/src/app/api/keys/__tests__/get-route.test.ts
  frontend/src/app/api/keys/__tests__/route.test.ts
  frontend/src/app/api/keys/validate/__tests__/route.test.ts
  frontend/src/app/auth/callback/__tests__/route.test.ts
  frontend/src/app/auth/confirm/__tests__/route.test.ts
  frontend/src/hooks/__tests__/use-supabase-realtime.test.tsx
  frontend/src/lib/tools/__tests__/accommodations.test.ts
  frontend/src/lib/tools/__tests__/planning.test.ts
  frontend/src/lib/tools/__tests__/telemetry.test.ts
Due: biome-format, biome-check, typescript-check

refactor: enhance error handling and improve test setup
  frontend/src/components/features/dashboard/upcoming-flights.tsx
  frontend/src/lib/env/__tests__/server.test.ts
  frontend/src/lib/repositories/__tests__/trips-repo.test.ts
  frontend/src/lib/supabase/__tests__/typed-helpers.test.ts
  frontend/src/lib/tools/__tests__/accommodations.test.ts
  frontend/src/lib/tools/__tests__/planning.test.ts
  frontend/src/lib/webhooks/payload.ts
  frontend/src/test-setup.ts
Due: biome-format, biome-check, typescript-check

chore: update test configuration and dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

fix: enhance accommodation booking and flight pricing features
  AGENTS.md
  CHANGELOG.md
  README.md
  frontend/README.md
  frontend/docs/testing/vitest-performance.md
  frontend/src/app/chat/__tests__/resume.test.tsx
  frontend/src/components/features/dashboard/__tests__/upcoming-flights.test.tsx
  frontend/src/components/features/dashboard/upcoming-flights.tsx
  frontend/src/components/features/search/__tests__/destination-search-form.test.tsx
  frontend/src/components/features/trips/__tests__/itinerary-builder.test.tsx
  frontend/src/hooks/__tests__/use-memory.test.ts
  frontend/src/lib/schemas/accommodations.ts
  frontend/src/lib/tools/__tests__/accommodations.test.ts
  frontend/src/lib/tools/accommodations.ts
  frontend/src/stores/__tests__/search-store.test.ts
  frontend/src/test-setup.ts
  frontend/vitest.config.ts
Due: biome-format, biome-check, typescript-check

chore: update AGENTS.md to include new dependency
  AGENTS.md
Due: none

refactor(backend): remove legacy AI chat/agent code migrated to frontend AI SDK v6
  CHANGELOG.md
  tests/integration/api/test_config_integration.py
  tests/integration/api/test_memory_integration.py
  tests/integration/api/test_memory_preferences_integration.py
  tests/unit/api/test_config.py
  tests/unit/api/test_memory.py
  tripsage/api/core/dependencies.py
  tripsage/api/routers/config.py
  tripsage/api/routers/memory.py
  tripsage/api/schemas/config.py
  tripsage/api/schemas/memory.py
  tripsage_core/models/db/memory.py
  tripsage_core/models/domain/memory.py
  tripsage_core/services/business/memory_insights.py
  tripsage_core/services/business/memory_service.py
  tripsage_core/services/configuration_service.py
  tripsage_core/services/infrastructure/database_service.py
  uv.lock
Due: none

fix(backend): resolve remaining errors after memory cleanup
  tripsage/api/core/dependencies.py
  tripsage/api/routers/trips.py
  tripsage/app_state.py
Due: none

refactor(backend): remove legacy AI SDK v5 code and enhance security verification
  CHANGELOG.md
  docs/TECH_DEBT.md
  docs/operators/supabase-configuration.md
  scripts/verify_vault_hardening.py
  tests/conftest.py
  tests/integration/api/test_config_versions_integration.py
  tests/unit/test_config_mocks.py
  tripsage/api/README.md
  tripsage/api/core/dependencies.py
  tripsage/api/core/openapi.py
  tripsage/api/main.py
  tripsage/api/routers/__init__.py
  tripsage/api/routers/dashboard.py
  tripsage/api/routers/trips.py
  tripsage/api/schemas/__init__.py
  tripsage/api/schemas/dashboard_realtime.py
  tripsage/api/schemas/flights.py
  tripsage/app_state.py
  tripsage_core/models/__init__.py
  tripsage_core/models/attachments.py
  tripsage_core/models/db/__init__.py
  tripsage_core/models/domain/__init__.py
  tripsage_core/services/infrastructure/database_service.py
Due: none

refactor: address code review comments for verify_vault_hardening.py
  scripts/verify_vault_hardening.py
Due: none

refactor: reorganize Supabase middleware imports and clarify export structure
  frontend/middleware.ts
  frontend/src/lib/supabase/index.ts
Due: biome-format, biome-check, typescript-check

refactor: streamline Supabase middleware and improve validation error handling
  frontend/middleware.ts
  frontend/package.json
  frontend/src/lib/repositories/trips-repo.ts
  frontend/src/lib/schemas/supabase.ts
  frontend/src/lib/supabase/index.ts
  frontend/src/lib/supabase/typed-helpers.ts
  frontend/vitest.config.ts
Due: biome-format, biome-check, typescript-check

Path conditions:
  biome-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  biome-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
