Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && pnpm format:biome'
  language: system
  stages:
  - commit

biome-check:
  name: biome-check
  entry: bash -c 'cd frontend && pnpm biome:check'
  language: system
  stages:
  - commit

typescript-check:
  name: typescript-check
  entry: bash -c 'cd frontend && pnpm type-check'
  language: system
  pass_filenames: false
  stages:
  - commit

refactor(tool-type-utils): simplify type inference logic
  frontend/src/ai/lib/tool-type-utils.ts
Due: biome-format, biome-check, typescript-check

fix(core): api routes, telemetry guards, and type safety
  .github/workflows/ci.yml
  frontend/src/ai/agents/__tests__/agent-factory.test.ts
  frontend/src/ai/agents/__tests__/registry.test.ts
  frontend/src/ai/agents/itinerary-agent.ts
  frontend/src/ai/tools/schemas/google-places.ts
  frontend/src/ai/tools/schemas/planning.ts
  frontend/src/ai/tools/server/injection.ts
  frontend/src/app/api/agents/accommodations/__tests__/route.test.ts
  frontend/src/app/api/agents/itineraries/route.ts
  frontend/src/app/api/chat/stream/__tests__/_handler.test.ts
  frontend/src/app/api/chat/stream/__tests__/route.smoke.test.ts
  frontend/src/app/api/config/agents/[agentType]/rollback/[versionId]/route.ts
  frontend/src/app/chat/__tests__/page.smoke.test.tsx
  frontend/src/app/chat/ai.ts
  frontend/src/components/Map.tsx
  frontend/src/components/calendar/calendar-connect-client-wrapper.tsx
  frontend/src/components/calendar/calendar-connection-card.tsx
  frontend/src/components/calendar/calendar-event-list.tsx
  frontend/src/components/chat/__tests__/message-item.test.ts
  frontend/src/components/providers/query-error-boundary.tsx
  frontend/src/domain/schemas/__tests__/stores.test.ts
  frontend/src/lib/google/places-activities.ts
Due: biome-format, biome-check, typescript-check

refactor(chat-agent): update tool handling and improve error handling in tests
  frontend/src/ai/agents/__tests__/agent-factory.test.ts
  frontend/src/ai/agents/chat-agent.ts
  frontend/src/app/api/chat/stream/__tests__/_handler.test.ts
  frontend/src/app/chat/ai.ts
  frontend/src/components/calendar/calendar-event-list.tsx
  frontend/src/domain/schemas/supabase.ts
Due: biome-format, biome-check, typescript-check

docs(observability): enhance Zustand store error tracking and update test assertions
  docs/development/observability.md
  frontend/src/ai/agents/__tests__/agent-factory.test.ts
  frontend/src/ai/agents/__tests__/chat-agent.test.ts
  frontend/src/ai/lib/__tests__/tool-type-utils.test.ts
  frontend/src/ai/lib/tool-type-utils.ts
  frontend/src/app/api/agents/accommodations/__tests__/route.test.ts
  frontend/src/lib/google/__tests__/places-activities.test.ts
Due: biome-format, biome-check, typescript-check

refactor(chat-client): streamline message handling and enhance error reporting
  .gitleaks.toml
  frontend/src/ai/lib/__tests__/tool-type-utils.test.ts
  frontend/src/app/chat/chat-client.tsx
Due: biome-format, biome-check, typescript-check

fix(tool-type-utils): add comments to suppress lint warnings for async execute signatures
  frontend/src/ai/lib/__tests__/tool-type-utils.test.ts
Due: biome-format, biome-check, typescript-check

Notes added by 'git notes add'
  ce37a6516c04be31100f3859432f9a00a5525bc1
Due: none

chore(release): 1.4.0 [skip ci]
  frontend/package.json
Due: biome-format, biome-check

chore(deps): update AI SDK dependencies to latest beta versions
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

feat: enhance error handling and telemetry in QueryErrorBoundary
  frontend/src/ai/agents/types.ts
  frontend/src/app/api/embeddings/route.ts
  frontend/src/components/providers/__tests__/query-error-boundary.test.tsx
  frontend/src/components/providers/performance-provider.tsx
  frontend/src/components/providers/query-error-boundary.tsx
  frontend/src/components/providers/query-provider.tsx
  frontend/src/components/providers/theme-provider.tsx
Due: biome-format, biome-check, typescript-check

feat(chat-agent): normalize instructions handling in createChatAgent
  frontend/src/ai/agents/chat-agent.ts
Due: biome-format, biome-check, typescript-check

feat(chat-agent): add text extraction and enhance instruction normalization
  frontend/src/ai/agents/__tests__/normalize-instructions.test.ts
  frontend/src/ai/agents/chat-agent.ts
  frontend/src/components/providers/query-error-boundary.tsx
Due: biome-format, biome-check, typescript-check

Notes added by 'git notes add'
  c3ac176ac89cc5e2aa8377dacfe3e8a4bb0e2b3b
Due: none

chore(release): 1.5.0 [skip ci]
  frontend/package.json
Due: biome-format, biome-check

feat(activities): add booking URLs and telemetry route
  frontend/src/app/api/telemetry/activities/route.ts
  frontend/src/lib/activities/__tests__/booking.test.ts
  frontend/src/lib/activities/booking.ts
  frontend/src/lib/google/__tests__/places-activities.test.ts
  frontend/src/lib/google/places-activities.ts
  frontend/src/test/msw/handlers/telemetry.ts
  frontend/src/test/msw/server.ts
Due: biome-format, biome-check, typescript-check

fix(places-activities): correct comment formatting in extractActivityType function
  frontend/src/lib/google/places-activities.ts
Due: biome-format, biome-check, typescript-check

feat(telemetry): enhance telemetry event validation and add rate limiting
  frontend/src/app/api/telemetry/activities/__tests__/route.test.ts
  frontend/src/app/api/telemetry/activities/route.ts
  frontend/src/lib/activities/__tests__/booking.test.ts
  frontend/src/lib/activities/booking.ts
  frontend/src/lib/google/places-activities.ts
  frontend/src/lib/ratelimit/routes.ts
Due: biome-format, biome-check, typescript-check

fix(places-activities): refine JSDoc comment formatting in extractActivityType function
  frontend/src/lib/google/places-activities.ts
Due: biome-format, biome-check, typescript-check

feat(telemetry): add validation for attributes in telemetry events
  frontend/src/app/api/telemetry/activities/__tests__/route.test.ts
  frontend/src/app/api/telemetry/activities/route.ts
  frontend/src/lib/activities/__tests__/booking.test.ts
  frontend/src/lib/activities/booking.ts
Due: biome-format, biome-check, typescript-check

feat(telemetry): add activity booking telemetry endpoint and improve error handling
  docs/api/settings.md
  frontend/src/app/api/telemetry/activities/__tests__/route.test.ts
  frontend/src/app/api/telemetry/activities/route.ts
  frontend/src/lib/activities/booking.ts
Due: biome-format, biome-check, typescript-check

test(activities): add unit tests for booking URL resolution and fallback logic
  frontend/src/lib/activities/__tests__/booking.test.ts
Due: biome-format, biome-check, typescript-check

chore(release): 1.6.0 [skip ci]
  frontend/package.json
Due: biome-format, biome-check

Path conditions:
  biome-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  biome-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
