Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for TripSage AI
# See https://pre-commit.com for more information
# Install with: pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: debug-statements

  # Python formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Python security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: [-r, ., -x, tests/]
        exclude: ^tests/

  # Python type checking
  - repo: local
    hooks:
      - id: pyright-check
        name: pyright-check
        entry: uv run pyright
        language: system
        pass_filenames: false
        stages: [commit]

  # Python detailed linting
  - repo: local
    hooks:
      - id: pylint-check
        name: pylint-check
        entry: uv run pylint tripsage tripsage_core
        language: system
        pass_filenames: false
        stages: [commit]

  # Frontend formatting
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && pnpm format:biome'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: biome-check
        name: biome-check
        entry: bash -c 'cd frontend && pnpm biome:check'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript-check
        entry: bash -c 'cd frontend && pnpm type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        stages: [commit]

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

chore(deps): update frontend dependencies to latest versions
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

chore(deps): update @tailwindcss/postcss and related packages to version 4.1.17
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

chore(deps): update dependencies in pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: none

chore(deps): add @opentelemetry/api dependency and update ignoredBuiltDependencies format
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

Enhance BYOK route security and telemetry
  AGENTS.md
  CHANGELOG.md
  docs/adrs/adr-0024-byok-routes-and-security.md
  docs/architecture/system-overview.md
  docs/operators/operators-reference.md
  docs/operators/security-guide.md
  docs/specs/0011-spec-byok-routes-and-security.md
  frontend/README.md
Due: none

feat(byok): enforce server-only handling and document changes
  frontend/src/app/api/keys/[service]/route.ts
  frontend/src/app/api/keys/__tests__/route.test.ts
  frontend/src/app/api/keys/_handlers.ts
  frontend/src/app/api/keys/_rate-limiter.ts
  frontend/src/app/api/keys/_telemetry.ts
  frontend/src/app/api/keys/route.ts
  frontend/src/lib/next/__tests__/route-helpers.test.ts
  frontend/src/lib/next/route-helpers.ts
  frontend/src/lib/telemetry/__tests__/span.test.ts
  frontend/src/lib/telemetry/span.ts
Due: biome-format, biome-check, typescript-check

Enhance provider registry and resolution documentation and implementation
  docs/prompts/ai-sdk/02-provider-registry-and-resolution.md
  frontend/src/app/api/keys/__tests__/route.test.ts
  frontend/src/app/api/keys/route.ts
  frontend/src/lib/telemetry/__tests__/span.test.ts
Due: biome-format, biome-check, typescript-check

Refactor IP extraction and enhance request validation in API routes
  frontend/src/app/api/chat/route.ts
  frontend/src/app/api/chat/stream/route.ts
  frontend/src/app/api/keys/[service]/route.ts
  frontend/src/app/api/keys/__tests__/_handlers.test.ts
  frontend/src/app/api/keys/__tests__/route.test.ts
  frontend/src/app/api/keys/_handlers.ts
  frontend/src/app/api/keys/_rate-limiter.ts
  frontend/src/app/api/keys/route.ts
  frontend/src/app/api/keys/validate/route.ts
  frontend/src/lib/next/__tests__/route-helpers.test.ts
  frontend/src/lib/next/route-helpers.ts
Due: biome-format, biome-check, typescript-check

feat: add web search tool using Firecrawl v2.5 API with Redis caching
  frontend/src/lib/tools/__tests__/web-search.test.ts
  frontend/src/lib/tools/web-search.ts
Due: biome-format, biome-check, typescript-check

chore(deps): add @ai-sdk/mcp dependency version 1.0.0-beta.15 to package.json and pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

feat: implement AI SDK v6 tool registry and MCP integration
  docs/adrs/adr-0020-tool-registry-ts.md
  docs/prompts/ai-sdk/05-tools-and-mcp-integration.md
  docs/specs/spec-001-tools-contracts.md
  frontend/README.md
Due: none

refactor: streamline web search input validation and improve test structure
  frontend/src/lib/tools/__tests__/web-search.test.ts
  frontend/src/lib/tools/web-search.ts
Due: biome-format, biome-check, typescript-check

feat: add web crawl and scrape tools using Firecrawl v2.5 API
  frontend/src/lib/tools/__tests__/web-crawl.test.ts
  frontend/src/lib/tools/web-crawl.ts
Due: biome-format, biome-check, typescript-check

feat: integrate travel planning tools with AI SDK v6
  .gitignore
  frontend/src/app/api/chat/stream/_handler.ts
  frontend/src/lib/tools/__tests__/planning.test.ts
  frontend/src/lib/tools/index.ts
  frontend/src/lib/tools/planning.ts
  frontend/src/lib/tools/types.ts
  tripsage/tools/planning_tools.py
Due: biome-format, biome-check, typescript-check

feat: enhance travel planning tools with TypeScript and Redis persistence
  CHANGELOG.md
Due: none

feat: continue migration of Python tools to TypeScript AI SDK v6 with partial accommodations integration
  docs/prompts/ai-sdk/05-tools-and-mcp-integration.md
Due: none

feat: add tool mock implementation for chat stream tests
  frontend/src/app/api/chat/stream/__tests__/_handler.test.ts
  frontend/src/app/api/chat/stream/__tests__/route.smoke.test.ts
Due: biome-format, biome-check, typescript-check

fix: update web crawl and web search tests to use optional chaining for execute method
  frontend/src/lib/tools/__tests__/web-crawl.test.ts
  frontend/src/lib/tools/__tests__/web-search.test.ts
Due: biome-format, biome-check, typescript-check

feat: enhance travel planning tools with new functionalities and testing improvements
  CHANGELOG.md
  docs/prompts/ai-sdk/05-tools-and-mcp-integration.md
  frontend/README.md
  frontend/src/lib/tools/__tests__/accommodations.test.ts
  frontend/src/lib/tools/__tests__/planning.test.ts
  frontend/src/lib/tools/__tests__/weather.test.ts
  frontend/src/lib/tools/__tests__/web-crawl.test.ts
Due: biome-format, biome-check, typescript-check

feat: enhance travel planning tools with user ID injection and new constants
  CHANGELOG.md
  docs/prompts/ai-sdk/05-tools-and-mcp-integration.md
  frontend/src/app/api/chat/_handler.ts
  frontend/src/app/api/chat/stream/_handler.ts
  frontend/src/lib/tools/__tests__/injection.test.ts
  frontend/src/lib/tools/__tests__/planning.test.ts
  frontend/src/lib/tools/constants.ts
  frontend/src/lib/tools/index.ts
  frontend/src/lib/tools/injection.ts
  frontend/src/lib/tools/planning.schema.ts
  frontend/src/lib/tools/planning.ts
Due: biome-format, biome-check, typescript-check
