Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for TripSage AI
# See https://pre-commit.com for more information
# Install with: pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: debug-statements

  # Frontend formatting
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && pnpm format:biome'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: biome-check
        name: biome-check
        entry: bash -c 'cd frontend && pnpm biome:check'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript-check
        entry: bash -c 'cd frontend && pnpm type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        stages: [commit]

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

chore(dependencies): update test CI configuration and add ical.js dependency
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

fix(tests): correct ESLint rule formatting and restore thread pool configuration
  frontend/.eslintrc.json
  frontend/src/test-setup.ts
  frontend/vitest.config.ts
Due: biome-format, biome-check, typescript-check

feat(migrations): enhance row-level security policies for chat sessions and messages
  supabase/migrations/20251122000000_base_schema.sql
Due: none

feat(tests): implement MSW handlers for comprehensive API mocking
  frontend/src/test/msw/handlers/amadeus.ts
  frontend/src/test/msw/handlers/attachments.ts
  frontend/src/test/msw/handlers/auth-routes.ts
  frontend/src/test/msw/handlers/auth.ts
  frontend/src/test/msw/handlers/chat.ts
  frontend/src/test/msw/handlers/google-places.ts
  frontend/src/test/msw/handlers/providers.ts
  frontend/src/test/msw/handlers/stripe.ts
  frontend/src/test/msw/handlers/supabase.ts
  frontend/src/test/msw/handlers/upstash.ts
  frontend/src/test/msw/handlers/utils.ts
  frontend/src/test/msw/server.ts
Due: biome-format, biome-check, typescript-check

feat(calendar): enhance ICS import functionality with error handling and logging
  frontend/src/app/api/calendar/ics/import/route.ts
  frontend/src/app/api/chat/attachments/route.ts
  frontend/src/app/api/embeddings/route.ts
  frontend/src/domain/accommodations/booking-orchestrator.ts
  frontend/src/domain/accommodations/providers/amadeus-adapter.ts
  frontend/src/domain/accommodations/service.ts
  frontend/src/lib/api/api-client.ts
  frontend/src/lib/api/error-response.ts
  frontend/src/lib/api/guards/multipart.ts
  frontend/src/lib/cache/upstash.ts
  frontend/src/lib/calendar/calendar-integration.ts
  frontend/src/lib/google/client.ts
  frontend/src/test/ai-sdk/mock-model.ts
  frontend/src/test/ai-sdk/stream-utils.ts
  frontend/src/test/mocks/ai-sdk.ts
  frontend/src/test/mocks/react-query.ts
  frontend/src/test/utils/with-fake-timers.ts
Due: biome-format, biome-check, typescript-check

feat(env): update environment configuration files for Supabase and local development
  .env.example
  .env.test.example
  CHANGELOG.md
  docs/developers/env-setup.md
  docs/developers/quick-start.md
  docs/operators/deployment-guide.md
  docs/operators/operators-reference.md
  docs/specs/0027-spec-accommodations-amadeus-google-stripe.md
  frontend/.env.example
  frontend/.env.test.example
  supabase/.env.example
  supabase/migrations/20251122000000_base_schema.sql
Due: none

feat(accommodations): refactor service for Google Places integration and enhance booking validation
  frontend/src/domain/accommodations/__tests__/service-amadeus.test.ts
  frontend/src/domain/accommodations/service.ts
  frontend/src/lib/google/__tests__/places-enrichment.test.ts
  frontend/src/lib/google/__tests__/places-geocoding.test.ts
  frontend/src/lib/google/places-enrichment.ts
  frontend/src/lib/google/places-geocoding.ts
  frontend/src/lib/google/places-utils.ts
  frontend/src/lib/qstash/memory-sync.ts
Due: biome-format, biome-check, typescript-check

feat(error-service): enhance local error storage with secure ID generation
  frontend/src/lib/error-service.ts
Due: biome-format, biome-check, typescript-check

feat(specs): update AI SDK v6 foundations and rate limiting documentation
  docs/specs/0008-spec-ai-sdk-v6-foundations.md
  docs/specs/0008-spec-rate-limiting.md
  docs/specs/0014-spec-chat-api-sse-nonstream.md
  docs/specs/README.md
  docs/specs/superseded/0007-di-schemas-finalization.md
  docs/specs/superseded/spec-001-tools-contracts.md
Due: none

feat(error-boundary): implement secure session ID generation in error boundary
  frontend/src/components/error/__tests__/error-boundary.test.tsx
  frontend/src/components/error/error-boundary.tsx
Due: biome-format, biome-check, typescript-check

feat(specs): update multiple specs for AI SDK v6 and migration progress
  docs/specs/0008-spec-ai-sdk-v6-foundations.md
  docs/specs/0008-spec-rate-limiting.md
  docs/specs/0014-spec-chat-api-sse-nonstream.md
  docs/specs/0017-spec-attachments-migration-next.md
  docs/specs/0018-spec-rag-retriever-indexer.md
  docs/specs/0019-spec-hybrid-destination-itinerary-agents.md
  docs/specs/0020-spec-multi-agent-frontend-migration.md
  docs/specs/0026-spec-supabase-memory-orchestrator.md
  docs/specs/README.md
  docs/specs/superseded/0007-di-schemas-finalization.md
  docs/specs/superseded/0010-spec-python-test-suite-modernization.md
Due: none

refactor(accommodations): update schemas and improve type safety in accommodation service
  frontend/src/ai/tools/server/accommodations.ts
  frontend/src/ai/tools/server/google-places.ts
  frontend/src/app/(dashboard)/search/modern/actions.ts
  frontend/src/app/api/agents/accommodations/__tests__/route.validation.test.ts
  frontend/src/app/api/chat/attachments/route.ts
  frontend/src/app/api/config/agents/[agentType]/rollback/[versionId]/route.ts
  frontend/src/app/api/config/agents/[agentType]/route.ts
  frontend/src/app/api/config/agents/[agentType]/versions/route.ts
  frontend/src/app/api/config/agents/__tests__/routes.test.ts
  frontend/src/app/api/embeddings/route.ts
  frontend/src/app/api/itineraries/route.ts
  frontend/src/app/api/jobs/memory-sync/route.ts
  frontend/src/app/api/jobs/notify-collaborators/route.ts
  frontend/src/app/api/memory/conversations/route.ts
  frontend/src/app/api/memory/preferences/[userId]/route.ts
  frontend/src/app/api/memory/search/route.ts
  frontend/src/components/admin/configuration-actions.ts
  frontend/src/domain/accommodations/service.ts
  frontend/src/domain/schemas/accommodations.ts
  frontend/src/domain/schemas/search.ts
  frontend/src/lib/agents/config-resolver.ts
  frontend/src/lib/api/api-client.ts
  frontend/src/lib/api/error-response.ts
  frontend/src/lib/calendar/calendar-integration.ts
  frontend/src/lib/error-service.ts
  frontend/src/lib/telemetry/span.ts
  frontend/src/lib/url/server-origin.ts
Due: biome-format, biome-check, typescript-check

fix(tests): update error response structure in chat attachments tests
  frontend/src/app/api/chat/attachments/__tests__/route.test.ts
  frontend/src/app/api/jobs/memory-sync/__tests__/route.test.ts
  frontend/src/components/features/dashboard/__tests__/index.test.ts
  frontend/src/components/features/dashboard/__tests__/recent-trips.test.tsx
  frontend/src/domain/accommodations/__tests__/accommodations.integration.test.ts
  frontend/src/domain/amadeus/__tests__/mappers.test.ts
  frontend/src/domain/amadeus/mappers.ts
  frontend/src/lib/agents/__tests__/config-resolver.test.ts
Due: biome-format, biome-check, typescript-check

fix(tests): enhance mocking in integration tests for accommodations and config resolver
  frontend/src/domain/accommodations/__tests__/accommodations.integration.test.ts
  frontend/src/lib/agents/__tests__/config-resolver.test.ts
Due: biome-format, biome-check, typescript-check

refactor(tests): streamline mocking in RecentTrips tests
  frontend/src/components/features/dashboard/__tests__/recent-trips.test.tsx
Due: biome-format, biome-check, typescript-check

refactor(tests): enhance test mocking with MSW integration
  frontend/src/ai/tools/server/__tests__/google-places.test.ts
  frontend/src/ai/tools/server/__tests__/weather.test.ts
  frontend/src/domain/accommodations/__tests__/service-amadeus.test.ts
  frontend/src/lib/__tests__/error-service.test.ts
  frontend/src/lib/api/__tests__/api-client.test.ts
  frontend/src/test/msw/handlers/api-routes.ts
  frontend/src/test/msw/handlers/external-apis.ts
  frontend/src/test/msw/server.ts
Due: biome-format, biome-check, typescript-check

refactor(api): improve error handling in useAuthenticatedApi and enhance tests
  frontend/src/hooks/__tests__/use-authenticated-api.test.tsx
  frontend/src/hooks/use-authenticated-api.ts
  frontend/src/lib/__tests__/error-service.test.ts
  frontend/src/test/msw/handlers/error-reporting.ts
  frontend/src/test/msw/server.ts
  frontend/vitest.config.ts
Due: biome-format, biome-check, typescript-check

refactor(accommodations): implement tag-based caching for accommodations service
  frontend/src/domain/accommodations/service.ts
Due: biome-format, biome-check, typescript-check

refactor(tests): improve error handling in ErrorService tests
  frontend/src/lib/__tests__/error-service.test.ts
Due: biome-format, biome-check, typescript-check

docs(cache): enhance cache versioning documentation with tag naming conventions and invalidation strategies
  docs/developers/cache-versioned-keys.md
Due: none
