Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for TripSage AI
# See https://pre-commit.com for more information
# Install with: pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: debug-statements

  # Frontend formatting
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && pnpm format:biome'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: biome-check
        name: biome-check
        entry: bash -c 'cd frontend && pnpm biome:check'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript-check
        entry: bash -c 'cd frontend && pnpm type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        stages: [commit]

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

docs: update adr guidance and storage audit runbook
  docs/architecture/decisions/adr-0024-byok-routes-and-security.md
  docs/architecture/decisions/adr-0042-supabase-memory-orchestrator.md
  docs/architecture/decisions/adr-0057-search-filter-panel-system.md
  docs/operations/runbooks/storage-owner-audit.md
  docs/specs/archive/0011-spec-byok-routes-and-security.md
Due: none

fix(ui): tighten search flows and status indicators
  frontend/src/app/(dashboard)/search/activities/activities-search-client.tsx
  frontend/src/app/(dashboard)/search/destinations/destinations-search-client.tsx
  frontend/src/app/(dashboard)/search/hotels/hotels-search-client.tsx
  frontend/src/app/(dashboard)/search/unified/unified-search-client.tsx
  frontend/src/app/(dashboard)/trips/[id]/page.tsx
  frontend/src/components/features/agent-monitoring/communication/agent-collaboration-hub.tsx
Due: biome-format, biome-check, typescript-check

fix(ai): stabilize hotel personalization cache fallback
  frontend/src/ai/services/__tests__/hotel-personalization.test.ts
  frontend/src/ai/services/hotel-personalization.ts
Due: biome-format, biome-check, typescript-check

fix(security): clamp memory prompt sanitization outputs
  frontend/src/ai/agents/__tests__/router-agent.test.ts
  frontend/src/app/api/memory/insights/[userId]/route.ts
  frontend/src/app/api/memory/insights/__tests__/route.test.ts
Due: biome-format, biome-check, typescript-check

fix(api): harden validation and error handling across endpoints
  frontend/src/app/api/accommodations/popular-destinations/route.ts
  frontend/src/app/api/agents/__tests__/router.route.test.ts
  frontend/src/app/api/auth/mfa/challenge/route.ts
  frontend/src/app/api/auth/mfa/factors/list/route.ts
  frontend/src/app/api/auth/mfa/sessions/revoke/route.ts
  frontend/src/app/api/hooks/cache/route.ts
  frontend/src/app/api/jobs/notify-collaborators/__tests__/route.test.ts
  frontend/src/app/api/jobs/notify-collaborators/route.ts
  frontend/src/app/api/places/nearby/route.ts
  frontend/src/app/api/trips/__tests__/suggestions-route.test.ts
  frontend/src/app/api/trips/suggestions/route.ts
Due: biome-format, biome-check, typescript-check

chore(deps): upgrade next to 16.0.7
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

refactor(docs): resolve PR #515 review comments
  docs/architecture/decisions/adr-0024-byok-routes-and-security.md
  docs/architecture/decisions/adr-0042-supabase-memory-orchestrator.md
  docs/operations/runbooks/storage-owner-audit.md
  docs/specs/archive/0011-spec-byok-routes-and-security.md
  frontend/src/app/api/trips/__tests__/suggestions-route.test.ts
Due: biome-format, biome-check, typescript-check

docs(adr-0057): address shadcn versioning, test structure, and QuickFilters status
  docs/architecture/decisions/adr-0057-search-filter-panel-system.md
Due: none

docs(adr-0024): clarify health check endpoint is design, not implementation
  docs/architecture/decisions/adr-0024-byok-routes-and-security.md
Due: none

chore(deps): upgrade ai-sdk, react, and dev tooling dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

docs(env,adr-0042): document env var consumption in migrations and update implementation status
  .env.example
  .env.test.example
  docs/architecture/decisions/adr-0042-supabase-memory-orchestrator.md
  docs/operations/runbooks/pg-cron-monitoring.md
Due: none

``` fix(api,ai,db): harden validation, caching, and session locking across platform
  frontend/src/ai/agents/__tests__/router-agent.test.ts
  frontend/src/ai/services/hotel-personalization.ts
  frontend/src/ai/tools/server/planning.ts
  frontend/src/app/(dashboard)/trips/[id]/page.tsx
  frontend/src/app/api/accommodations/popular-destinations/route.ts
  frontend/src/app/api/agents/__tests__/router.route.test.ts
  frontend/src/app/api/memory/insights/__tests__/route.test.ts
  frontend/src/app/api/trips/suggestions/route.ts
  frontend/src/lib/supabase/database.types.ts
  supabase/migrations/20251122000000_base_schema.sql
Due: biome-format, biome-check, typescript-check

docs(adr,spec,runbook): clarify implementation status and add security hardening
  docs/architecture/decisions/adr-0042-supabase-memory-orchestrator.md
  docs/architecture/decisions/adr-0057-search-filter-panel-system.md
  docs/operations/runbooks/storage-owner-audit.md
  docs/specs/archive/0011-spec-byok-routes-and-security.md
  frontend/src/ai/agents/agent-factory.ts
Due: biome-format, biome-check, typescript-check

Fix redundant condition in popular-destinations route
  frontend/src/app/api/accommodations/popular-destinations/route.ts
Due: biome-format, biome-check, typescript-check

fix(api,ai,docs): harden validation, caching, and documentation across platform
  .env.example
  .env.test.example
  docs/architecture/decisions/adr-0042-supabase-memory-orchestrator.md
  docs/architecture/decisions/adr-0057-search-filter-panel-system.md
  docs/operations/runbooks/pg-cron-monitoring.md
  docs/operations/runbooks/storage-owner-audit.md
  frontend/src/ai/agents/agent-factory.ts
  frontend/src/ai/services/hotel-personalization.ts
  frontend/src/app/(dashboard)/trips/[id]/page.tsx
  frontend/src/app/api/accommodations/popular-destinations/route.ts
Due: biome-format, biome-check, typescript-check

docs(runbook): add pg_cron job name source reference and rename guidance
  docs/operations/runbooks/pg-cron-monitoring.md
Due: none

docs(spec-0011): add error code mapping table and review deadline
  docs/specs/archive/0011-spec-byok-routes-and-security.md
  frontend/src/app/api/accommodations/popular-destinations/route.ts
Due: biome-format, biome-check, typescript-check

chore(env): standardize section headers and document MFA_BACKUP_CODE_PEPPER
  .env.test.example
Due: none

``` fix(ai,ops,docs): harden agent instruction handling, cache key security, and runbook escalation guidance
  docs/architecture/decisions/adr-0042-supabase-memory-orchestrator.md
  docs/operations/runbooks/pg-cron-monitoring.md
  frontend/src/ai/agents/agent-factory.ts
  frontend/src/ai/services/hotel-personalization.ts
  frontend/src/app/(dashboard)/trips/[id]/page.tsx
Due: biome-format, biome-check, typescript-check

``` fix(api,auth,test): implement planned BYOK error codes, MFA login flow, and destination normalization
  .env.test.example
  docs/specs/archive/0011-spec-byok-routes-and-security.md
  frontend/src/app/(dashboard)/trips/[id]/page.tsx
  frontend/src/app/api/accommodations/popular-destinations/route.ts
  frontend/src/app/api/auth/login/__tests__/route.test.ts
  frontend/src/app/api/auth/login/route.ts
  frontend/src/app/api/keys/[service]/route.ts
  frontend/src/app/api/keys/__tests__/_handlers.test.ts
  frontend/src/app/api/keys/_error-mapping.ts
  frontend/src/app/api/keys/_handlers.ts
  frontend/src/app/api/keys/validate/__tests__/route.test.ts
  frontend/src/app/api/keys/validate/route.ts
  frontend/src/components/auth/login-form.tsx
Due: biome-format, biome-check, typescript-check
