Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && pnpm format:biome'
  language: system
  stages:
  - commit

biome-check:
  name: biome-check
  entry: bash -c 'cd frontend && pnpm biome:check'
  language: system
  stages:
  - commit

typescript-check:
  name: typescript-check
  entry: bash -c 'cd frontend && pnpm type-check'
  language: system
  pass_filenames: false
  stages:
  - commit

test(webhooks): cover notify worker paths and tidy shared mocks
  frontend/src/app/api/hooks/trips/__tests__/route.test.ts
  frontend/src/app/api/jobs/notify-collaborators/__tests__/route.test.ts
  frontend/src/components/features/search/__tests__/destination-search-form.test.tsx
  frontend/src/lib/tools/__tests__/accommodations.test.ts
  frontend/src/test-setup.ts
  frontend/src/test/mocks/xenova-transformers.ts
Due: biome-format, biome-check, typescript-check

docs(webhooks): document cache tags and qstash requirements
  CHANGELOG.md
  docs/operators/supabase-webhooks.md
  docs/specs/0021-spec-supabase-webhooks-vercel-consolidation.md
  frontend/.env.example
Due: none

fix(telemetry): add operational alerts
  CHANGELOG.md
  docs/operators/supabase-webhooks.md
  frontend/src/lib/telemetry/__tests__/alerts.test.ts
  frontend/src/lib/telemetry/__tests__/redis.test.ts
  frontend/src/lib/telemetry/__tests__/span.test.ts
  frontend/src/lib/telemetry/__tests__/tracer.test.ts
  frontend/src/lib/telemetry/alerts.ts
  frontend/src/lib/telemetry/redis.ts
  frontend/src/lib/telemetry/span.ts
  frontend/src/lib/telemetry/tracer.ts
  frontend/src/lib/webhooks/__tests__/payload.test.ts
  frontend/src/lib/webhooks/payload.ts
Due: biome-format, biome-check, typescript-check

chore(ci): enforce webhook secret verification
  .github/workflows/deploy.yml
Due: none

chore(tests): satisfy biome fixtures
  frontend/src/app/ai-demo/__tests__/page.integration.test.tsx
  frontend/src/app/api/jobs/notify-collaborators/__tests__/route.test.ts
Due: biome-format, biome-check, typescript-check

docs(observability): describe operational alerts and ci secrets
  .github/ci-config.yml
  docs/developers/README.md
  docs/developers/observability.md
Due: none

docs(changelog): capture observability updates
  CHANGELOG.md
Due: none

feat(env): add APP_BASE_URL and stripe fallback
  frontend/.env.example
  frontend/src/lib/env/schema.ts
  frontend/src/lib/payments/stripe-client.ts
Due: biome-format, biome-check, typescript-check

feat(ai-demo): emit telemetry for streaming page
  frontend/src/app/ai-demo/page.tsx
  frontend/src/app/api/telemetry/ai-demo/route.ts
Due: biome-format, biome-check, typescript-check

test(frontend): stabilize chat and memory suites
  frontend/src/app/api/chat/stream/__tests__/_handler.test.ts
  frontend/src/app/api/chat/stream/__tests__/route.smoke.test.ts
  frontend/src/app/chat/__tests__/midstream-resume-continuity.test.tsx
  frontend/src/components/features/search/destination-search-form.tsx
  frontend/src/hooks/__tests__/use-memory.test.ts
Due: biome-format, biome-check, typescript-check

chore(tests): remove obsolete test files for edge functions
  supabase/edge-functions/ai-processing/index.test.ts
  supabase/edge-functions/trip-events/index.test.ts
  supabase/functions/_shared/integration.test.ts
  supabase/functions/_shared/test-utils.test.ts
  supabase/functions/cache-invalidation/deno.json
  supabase/functions/cache-invalidation/deno.lock.v5
  supabase/functions/cache-invalidation/index.test.ts
  supabase/functions/deno.json
  supabase/functions/deno.lock
  supabase/functions/file-processing/deno.json
  supabase/functions/file-processing/deno.lock.v5
  supabase/functions/file-processing/index.test.ts
  supabase/functions/file-processor/deno.json
  supabase/functions/file-processor/deno.lock.v5
  supabase/functions/import_map.json
  supabase/functions/trip-notifications/deno.json
  supabase/functions/trip-notifications/deno.lock.v5
  supabase/functions/trip-notifications/index.test.ts
Due: none

feat(changelog): update to include new APP_BASE_URL setting and AI demo telemetry endpoint
  CHANGELOG.md
Due: none

feat(webhooks): replace Supabase Edge Functions with Vercel webhooks
  Makefile
  frontend/vercel.json
  scripts/database/deploy_storage_infrastructure.py
  scripts/operators/setup_webhooks.sh
  scripts/operators/verify_webhook_secret.sh
  supabase/edge-functions/ai-processing/index.ts
  supabase/edge-functions/trip-events/index.ts
  supabase/functions/_shared/cors.ts
  supabase/functions/_shared/supabase.ts
  supabase/functions/_shared/test-utils.ts
  supabase/functions/cache-invalidation/index.ts
  supabase/functions/deploy.sh
  supabase/functions/file-processing/index.ts
  supabase/functions/file-processor/index.ts
  supabase/functions/generate-embeddings/index.ts
  supabase/functions/run-tests.ts
  supabase/functions/setup_edge_function_triggers.sql
  supabase/functions/test_edge_functions.ts
  supabase/functions/trip-notifications/index.ts
  supabase/migrations/20251113034500_webhooks_consolidated.sql
Due: biome-format, biome-check

feat(cache): add Redis-backed tag invalidation webhooks
  frontend/src/app/api/hooks/cache/route.ts
  frontend/src/lib/cache/tags.ts
  frontend/src/lib/idempotency/redis.ts
  frontend/src/lib/security/webhook.ts
Due: biome-format, biome-check, typescript-check

feat(notifications): add collaborator webhook dispatcher
  frontend/src/lib/notifications/__tests__/collaborators.test.ts
  frontend/src/lib/notifications/collaborators.ts
  frontend/src/lib/schemas/webhooks.ts
Due: biome-format, biome-check, typescript-check

feat(ai): add embeddings API route
  frontend/src/app/api/embeddings/__tests__/route.test.ts
  frontend/src/app/api/embeddings/route.ts
Due: biome-format, biome-check, typescript-check

docs(schema): introduce Supabase canonical schema and bootstrap guide for TripSage AI
  docs/architecture/supabase-canonical-schema.md
  docs/ops/supabase-bootstrap.md
Due: none

refactor(dependencies): update dependency overrides for principal and service stubs across integration tests
  tests/integration/api/test_destinations_integration.py
  tests/integration/api/test_itineraries_integration.py
  tests/integration/api/test_memory_integration.py
  tests/integration/api/test_memory_preferences_integration.py
  tests/integration/api/test_search_analytics_integration.py
  tests/unit/api/test_search.py
  tests/unit/services/test_accommodation_service.py
  tripsage/api/core/dependencies.py
  tripsage/api/schemas/search.py
  tripsage/app_state.py
  tripsage/security/__init__.py
  tripsage/security/memory_security.py
  tripsage_core/README.md
  tripsage_core/clients/__init__.py
  tripsage_core/clients/airbnb_mcp_client.py
  tripsage_core/clients/base.py
  tripsage_core/models/api/__init__.py
  tripsage_core/models/api/accommodation_models.py
  tripsage_core/models/api/calendar_models.py
  tripsage_core/models/api/maps_models.py
  tripsage_core/services/airbnb_mcp.py
  tripsage_core/services/business/accommodation_service.py
  tripsage_core/services/business/security_monitoring_service.py
  tripsage_core/services/configuration_service.py
Due: none

refactor(deployment): update edge function handling and improve deployment script clarity; add canonical schema for TripSage and migrate accommodation embeddings to 1536 dimensions
  scripts/database/deploy_storage_infrastructure.py
  supabase/migrations/20251113024300_create_accommodations_rag.sql
  supabase/migrations/20251114120000_update_accommodations_embeddings_1536.sql
  supabase/schema.sql
Due: none

refactor(api): remove deprecated destinations and search endpoints; migrate functionality to frontend AI SDK v6 agents
  docs/api/api-reference.md
  docs/api/error-codes.md
  docs/architecture/system-overview.md
  tests/conftest.py
  tests/integration/api/test_destinations_integration.py
  tests/integration/api/test_search_analytics_integration.py
  tests/unit/api/policy/openapi_snapshot.json
  tests/unit/api/policy/test_openapi_snapshot.py
  tests/unit/api/test_destinations.py
  tests/unit/api/test_search.py
  tests/unit/services/test_destination_service.py
  tripsage/api/core/dependencies.py
  tripsage/api/main.py
  tripsage/api/routers/__init__.py
  tripsage/api/routers/destinations.py
  tripsage/api/routers/search.py
  tripsage/api/schemas/__init__.py
  tripsage/api/schemas/destinations.py
  tripsage/api/schemas/search.py
  tripsage/app_state.py
  tripsage_core/services/business/destination_service.py
  tripsage_core/services/business/search_facade.py
  tripsage_core/services/business/search_history_service.py
  tripsage_core/services/business/unified_search_service.py
Due: none

Path conditions:
  biome-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  biome-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
