Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for TripSage AI
# See https://pre-commit.com for more information
# Install with: pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: debug-statements

  # Frontend formatting
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && pnpm format:biome'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: biome-check
        name: biome-check
        entry: bash -c 'cd frontend && pnpm biome:check'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript-check
        entry: bash -c 'cd frontend && pnpm type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        stages: [commit]

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

docs: update .gitignore and remove obsolete migration documents
  .gitignore
  docs/migrations/2025-11-13-openrouter-official-provider.md
  docs/migrations/2025-11-13-openrouter-provider-v6-migration.md
  docs/migrations/2025-11-13-user-gateway-byok.md
  docs/migrations/api-factory.md
Due: none

docs: enhance API documentation for agents, trips, and authentication
  docs/api/agents.md
  docs/api/api-reference.md
  docs/api/auth.md
  docs/api/calendar.md
  docs/api/index.md
  docs/api/internal/jobs.md
  docs/api/internal/webhooks.md
  docs/api/keys.md
  docs/api/settings.md
  docs/api/trips.md
  frontend/src/app/api/chat/sessions/_handlers.ts
  frontend/src/app/api/config/agents/[agentType]/rollback/[versionId]/route.ts
  frontend/src/app/api/config/agents/[agentType]/route.ts
  frontend/src/app/api/config/agents/[agentType]/versions/route.ts
  frontend/src/app/api/keys/__tests__/route.test.ts
  frontend/src/app/api/keys/_handlers.ts
  frontend/src/app/api/memory/user/[userId]/__tests__/route.test.ts
  frontend/src/app/api/trips/[id]/__tests__/route.test.ts
  frontend/src/app/api/trips/[id]/route.ts
  frontend/src/components/features/realtime/optimistic-trip-updates.tsx
  frontend/src/domain/schemas/__tests__/registry.test.ts
  frontend/src/domain/schemas/registry.ts
  frontend/src/lib/__tests__/query-keys.test.ts
  frontend/src/lib/query-keys.ts
  frontend/src/lib/ratelimit/__tests__/routes.test.ts
  frontend/src/lib/supabase/__tests__/typed-helpers.test.ts
  frontend/src/lib/supabase/typed-helpers.ts
Due: biome-format, biome-check, typescript-check

refactor: optimize trip form data handling and enhance route error schema tests
  frontend/src/components/features/realtime/optimistic-trip-updates.tsx
  frontend/src/domain/schemas/__tests__/registry.test.ts
  frontend/src/lib/__tests__/query-keys.test.ts
  frontend/src/lib/query-keys.ts
Due: biome-format, biome-check, typescript-check

docs: update API documentation for clarity and consistency
  docs/api/api-reference.md
  docs/api/index.md
  docs/api/internal/webhooks.md
  docs/api/settings.md
  frontend/src/components/features/realtime/optimistic-trip-updates.tsx
  frontend/src/lib/ratelimit/__tests__/routes.test.ts
  frontend/src/lib/supabase/typed-helpers.ts
Due: biome-format, biome-check, typescript-check

refactor: update IP extraction logic in getClientIpFromHeaders for improved security and accuracy
  frontend/src/lib/api/__tests__/route-helpers.test.ts
  frontend/src/lib/api/route-helpers.ts
  frontend/src/lib/ratelimit/__tests__/routes.test.ts
  frontend/src/lib/supabase/typed-helpers.ts
Due: biome-format, biome-check, typescript-check

docs: enhance webhook documentation for Postgres real-time events
  docs/api/internal/webhooks.md
  frontend/src/app/api/memory/user/[userId]/__tests__/route.test.ts
  frontend/src/app/api/trips/[id]/__tests__/route.test.ts
  frontend/src/domain/schemas/__tests__/registry.test.ts
  frontend/src/lib/__tests__/query-keys.test.ts
  frontend/src/lib/api/__tests__/route-helpers.test.ts
  frontend/src/lib/ratelimit/__tests__/routes.test.ts
  frontend/src/lib/supabase/typed-helpers.ts
Due: biome-format, biome-check, typescript-check

docs: improve error handling documentation in jobs.md
  docs/api/internal/jobs.md
Due: none

chore(release): 1.1.0 [skip ci]
  frontend/package.json
Due: biome-format, biome-check

Notes added by 'git notes add'
  6f0669183666b4fe86bb28febe1772b33c9d2bbb
Due: none

docs: remove obsolete SUMMARY.md and update references in architecture decisions
  docs/SUMMARY.md
  docs/api/internal/jobs.md
  docs/architecture/decisions/adr-0045-flights-dto-frontend-zod.md
  docs/architecture/decisions/adr-0050-amadeus-google-places-stripe-hybrid.md
  docs/architecture/decisions/adr-0052-agent-configuration-backend.md
Due: none

docs: overhaul documentation structure and consolidate standards
  docs/architecture/database/README.md
  docs/development/README.md
  docs/development/activities.md
  docs/development/code-standards.md
  docs/development/import-paths.md
  docs/development/route-testing-template.md
  docs/development/standards.md
  docs/development/stores.md
  docs/development/testing-guide.md
  docs/development/testing-patterns.md
  docs/development/testing.md
  docs/guides/index.md
  docs/index.md
  docs/operations/database/README.md
Due: none

docs: update quick start guide for clarity and completeness
  docs/development/quick-start.md
Due: none

docs: replace gateway provider options cookbook with AI integration guide
  docs/cookbooks/gateway-provider-options.md
  docs/development/ai-integration.md
Due: none

docs: update AI-related documentation and paths for consistency
  AGENTS.md
  README.md
  docs/architecture/calendar-service.md
  docs/architecture/decisions/adr-0028-provider-registry.md
  docs/architecture/decisions/adr-0044-tool-registry-ts.md
  docs/architecture/frontend-architecture.md
  docs/architecture/system-overview.md
  docs/development/README.md
  docs/development/ai-integration.md
  docs/development/ai-tools.md
  docs/development/zod-schema-guide.md
  docs/index.md
  frontend/README.md
Due: none

docs: update development guide and architecture documentation
  .gitignore
  docs/api/realtime-api.md
  docs/architecture/database.md
  docs/architecture/database/supabase-integration.md
  docs/architecture/database/supabase-operations.md
  docs/architecture/database/supabase-schema.md
  docs/development/README.md
  docs/development/cache-versioned-keys.md
  docs/development/development-guide.md
  docs/development/observability.md
  docs/development/standards.md
  docs/development/testing.md
  docs/guides/realtime.md
  docs/index.md
  docs/operations/database/supabase-bootstrap.md
  docs/operations/database/supabase-configuration.md
  docs/operations/database/supabase-webhooks.md
  docs/operations/runbooks/database-ops.md
  frontend/docs/developers/ai-sdk-v6-tools.md
  frontend/docs/reviews/lib-layer-code-review.md
Due: none

docs: remove API documentation file and update route exception examples
  docs/architecture/route-exceptions.md
  docs/openapi.md
Due: none

docs: add ADR-0055 for flattening Next.js app structure
  docs/architecture/decisions/README.md
  docs/architecture/decisions/adr-0055-flatten-frontend-root-structure.md
  docs/specs/README.md
  docs/specs/active/0033-spec-flatten-frontend-root-structure.md
Due: none

docs: add BYOK + Vercel AI Gateway Operator runbook
  docs/operations/runbooks/byok-gateway-operator.md
  docs/runbooks/byok-gateway-operator.md
Due: none

docs: update documentation paths and enhance clarity
  CHANGELOG.md
  README.md
  docs/architecture/decisions/adr-0024-byok-routes-and-security.md
  docs/architecture/decisions/adr-0055-flatten-frontend-root-structure.md
  docs/development/README.md
  docs/development/ai-tools.md
  docs/development/standards.md
  docs/development/testing.md
  docs/specs/active/0033-spec-flatten-frontend-root-structure.md
  docs/specs/archive/0019-spec-hybrid-destination-itinerary-agents.md
  docs/specs/archive/0020-spec-multi-agent-frontend-migration.md
  docs/specs/archive/0024-spec-python-test-suite-modernization.md
  frontend/README.md
  frontend/src/ai/models/__tests__/registry.telemetry.test.ts
  frontend/src/ai/models/__tests__/registry.test.ts
  frontend/src/ai/models/registry.ts
  frontend/src/app/api/chat/_handler.ts
  frontend/src/app/api/chat/stream/__tests__/route.smoke.test.ts
  frontend/src/app/api/chat/stream/_handler.ts
  frontend/src/domain/schemas/providers.ts
  frontend/src/lib/providers/types.ts
  supabase/README.md
Due: biome-format, biome-check, typescript-check

docs: remove obsolete files and update documentation structure
  .cursorindexingignore
  .gitignore
  frontend/scripts/quality-gates-calendar.ts
  frontend/src/app/(dashboard)/agents/page.tsx
  supabase/README.md
Due: biome-format, biome-check, typescript-check
