Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for TripSage AI
# See https://pre-commit.com for more information
# Install with: pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: debug-statements

  # Python formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Python security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: [-r, ., -x, tests/]
        exclude: ^tests/

  # Python type checking
  - repo: local
    hooks:
      - id: pyright-check
        name: pyright-check
        entry: uv run pyright
        language: system
        pass_filenames: false
        stages: [commit]

  # Python detailed linting
  - repo: local
    hooks:
      - id: pylint-check
        name: pylint-check
        entry: uv run pylint tripsage tripsage_core
        language: system
        pass_filenames: false
        stages: [commit]

  # Frontend formatting
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && pnpm format:biome'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: biome-check
        name: biome-check
        entry: bash -c 'cd frontend && pnpm biome:check'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        stages: [commit]

  # Frontend type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript-check
        entry: bash -c 'cd frontend && pnpm type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        stages: [commit]

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

refactor: consolidate API clients and enhance provider registry
  CHANGELOG.md
  docs/adrs/adr-0028-provider-registry.md
  docs/cookbooks/gateway-provider-options.md
  docs/prompts/ai-sdk/RUN-ORDER.md
  docs/runbooks/byok-gateway-operator.md
  docs/specs/0012-provider-registry.md
Due: none

refactor: remove redundant ProviderResolution type and streamline imports
  frontend/src/app/api/chat/_handler.ts
  frontend/src/app/api/chat/stream/_handler.ts
  frontend/src/lib/providers/types.ts
Due: biome-format, biome-check, typescript-check

feat: enhance environment variable management and API integration
  .env.test.example
  docs/prompts/ai-sdk/superseded/09-provider-openrouter-attribution.md
  frontend/.env.example
  frontend/.env.test.example
  frontend/docs/env-schema-audit-results.md
  frontend/src/components/calendar/calendar-event-list.tsx
  frontend/src/components/calendar/calendar-status.tsx
  frontend/src/hooks/use-accommodation-search.ts
  frontend/src/hooks/use-authenticated-api.ts
  frontend/src/lib/api/api-client.ts
  frontend/src/lib/env/schema.ts
  frontend/src/lib/env/server.ts
  frontend/src/lib/providers/registry.ts
  frontend/src/lib/schemas/index.ts
  frontend/src/lib/tools/__tests__/web-search-batch.test.ts
  frontend/src/lib/tools/calendar.ts
  frontend/src/lib/tools/flights.ts
  frontend/src/lib/tools/maps.ts
  frontend/src/lib/tools/weather.ts
  frontend/src/lib/tools/web-crawl.ts
  frontend/src/lib/tools/web-search-batch.ts
  frontend/src/lib/tools/web-search.ts
  frontend/src/test/env-helpers.ts
Due: biome-format, biome-check, typescript-check

refactor: unify trip data hooks and enhance real-time functionality
  CHANGELOG.md
  frontend/src/app/(dashboard)/demo/realtime/page.tsx
  frontend/src/app/(dashboard)/trips/[id]/collaborate/page.tsx
  frontend/src/app/(dashboard)/trips/page.tsx
  frontend/src/components/features/dashboard/__tests__/recent-trips.test.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-trips-supabase.ts
  frontend/src/hooks/use-trips-with-realtime.ts
  frontend/src/hooks/use-trips.ts
Due: biome-format, biome-check, typescript-check

refactor: standardize data fetching with TanStack Query and remove legacy hooks
  CHANGELOG.md
  frontend/README.md
  frontend/src/components/features/search/activity-search-form.tsx
  frontend/src/hooks/__tests__/use-api-query.test.tsx
  frontend/src/hooks/__tests__/use-budget.test.ts
  frontend/src/hooks/__tests__/use-currency.test.ts
  frontend/src/hooks/__tests__/use-supabase-query.test.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-agent-status.ts
  frontend/src/hooks/use-api-query.ts
  frontend/src/hooks/use-budget.ts
  frontend/src/hooks/use-currency.ts
  frontend/src/hooks/use-memory.ts
  frontend/src/hooks/use-supabase-query.ts
Due: biome-format, biome-check, typescript-check

fix: enhance test setup and error handling with session ID management
  frontend/src/app/(auth)/error.tsx
  frontend/src/app/(dashboard)/error.tsx
  frontend/src/app/error.tsx
  frontend/src/app/global-error.tsx
  frontend/src/hooks/use-memory.ts
  frontend/src/lib/utils.ts
  frontend/src/test-setup.ts
Due: biome-format, biome-check, typescript-check

feat: add Stripe dependency for payment processing
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

feat: enhance environment variable schema for payment processing and API integration
  frontend/src/lib/env/schema.ts
Due: biome-format, biome-check, typescript-check

feat: implement accommodation booking and embedding generation features
  docs/prompts/database/decision-supabase-deno-to-vercel.md
  frontend/src/app/api/chat/stream/_handler.ts
  frontend/src/hooks/__tests__/use-memory.test.ts
  frontend/src/hooks/use-memory.ts
  frontend/src/lib/embeddings/generate.ts
  frontend/src/lib/payments/booking-payment.ts
  frontend/src/lib/payments/stripe-client.ts
  frontend/src/lib/schemas/accommodations.ts
  frontend/src/lib/tools/__tests__/accommodations.test.ts
  frontend/src/lib/tools/accommodations.ts
  frontend/src/lib/tools/errors.ts
  frontend/src/lib/tools/index.ts
  frontend/src/lib/travel-api/expedia-client.ts
  frontend/src/lib/travel-api/expedia-types.ts
  frontend/src/types/xenova-transformers.d.ts
  supabase/functions/generate-embeddings/index.ts
  supabase/migrations/20251113024300_create_accommodations_rag.sql
  supabase/migrations/20251113024301_create_bookings_table.sql
Due: biome-format, biome-check, typescript-check

chore: update documentation and refactor architecture
  CHANGELOG.md
  README.md
  docs/adrs/adr-0040-consolidate-supabase-edge-to-vercel-webhooks.md
  docs/architecture/README.md
  docs/architecture/frontend-architecture.md
  docs/specs/0021-spec-supabase-webhooks-vercel-consolidation.md
Due: none

feat: implement Supabase Database Webhooks and Next.js Route Handlers
  CHANGELOG.md
  docs/architecture/frontend-architecture.md
  docs/architecture/supabase-auth-inventory.md
  docs/developers/cache-versioned-keys.md
  docs/operators/supabase-webhooks.md
  scripts/database/README.md
  supabase/README.md
  supabase/TROUBLESHOOTING.md
  supabase/edge-functions/README.md
  supabase/functions/README.md
Due: none

feat: consolidate trip collaborator notifications using Upstash QStash and Resend
  docs/adrs/README.md
  docs/adrs/adr-0040-consolidate-supabase-edge-to-vercel-webhooks.md
  docs/adrs/adr-0041-webhook-notifications-qstash-and-resend.md
  docs/adrs/superseded/adr-0015-upgrade-ai-sdk-to-v5-ai-sdk-react-and-usechat-redesign.md
  docs/operators/supabase-webhooks.md
  docs/specs/0025-spec-trip-collaborator-notifications-qstash.md
  docs/specs/README.md
  docs/specs/superseded/0001-spec-ai-sdk-v5.md
Due: none

fix: correct type import for Expedia booking request in payment processing
  frontend/src/lib/payments/booking-payment.ts
Due: biome-format, biome-check, typescript-check

feat: add Upstash QStash and Resend dependencies for notification handling
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

refactor: enhance webhook notification handling for trip collaborators
  docs/specs/0021-spec-supabase-webhooks-vercel-consolidation.md
Due: none

fix(webhooks): harden setup and handlers
  frontend/src/app/api/hooks/files/route.ts
  frontend/src/lib/security/__tests__/webhook.test.ts
  frontend/src/lib/security/webhook.ts
  frontend/src/lib/webhooks/payload.ts
  scripts/operators/setup_webhooks.sh
Due: biome-format, biome-check, typescript-check

feat: enhance trip collaborator notifications and embeddings API
  CHANGELOG.md
Due: none

docs: update AGENTS.md for clarity and SDK versioning
  AGENTS.md
Due: none

fix(webhooks): secure qstash worker and fallback telemetry
  frontend/src/app/api/hooks/trips/route.ts
  frontend/src/app/api/jobs/notify-collaborators/route.ts
Due: biome-format, biome-check, typescript-check
