Repository BjornMelin/tripsage-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-check, typescript-check

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && pnpm format:biome'
  language: system
  stages:
  - commit

biome-check:
  name: biome-check
  entry: bash -c 'cd frontend && pnpm biome:check'
  language: system
  stages:
  - commit

typescript-check:
  name: typescript-check
  entry: bash -c 'cd frontend && pnpm type-check'
  language: system
  pass_filenames: false
  stages:
  - commit

test: enhance agent route tests with rate limiting and error handling
  frontend/src/app/api/agents/accommodations/__tests__/route.test.ts
  frontend/src/app/api/agents/flights/__tests__/route.test.ts
  frontend/src/lib/agents/__tests__/guarded-tool.test.ts
  frontend/src/lib/agents/__tests__/runtime.test.ts
  frontend/src/lib/next/__tests__/route-helpers-extended.test.ts
  frontend/src/lib/ratelimit/__tests__/route-rate-limit.test.ts
  frontend/src/lib/tools/__tests__/opentripmap.test.ts
Due: biome-format, biome-check, typescript-check

refactor: standardize error response handling in route tests
  frontend/src/app/api/agents/accommodations/__tests__/route.test.ts
  frontend/src/app/api/agents/flights/__tests__/route.test.ts
  frontend/src/lib/agents/__tests__/guarded-tool.test.ts
  frontend/src/lib/tools/__tests__/opentripmap.test.ts
  frontend/src/lib/tools/opentripmap.ts
Due: biome-format, biome-check, typescript-check

refactor: migrate to TypeScript AI SDK v6 and streamline architecture
  docs/TECH_DEBT.md
  docs/adrs/README.md
  docs/adrs/adr-0012-flights-canonical-dto.md
  docs/adrs/superseded/adr-0001-langgraph-orchestration.md
  docs/adrs/superseded/adr-0010-memory-facade-final.md
  docs/prompts/ai-sdk/06-memory-and-checkpoints.md
  docs/prompts/ai-sdk/12-decommission-python-cleanup.md
  docs/specs/0020-spec-multi-agent-frontend-migration.md
Due: none

fix(frontend): enforce agent route rate limits
  frontend/src/app/api/agents/budget/route.ts
  frontend/src/app/api/agents/destinations/route.ts
  frontend/src/app/api/agents/itineraries/route.ts
  frontend/src/app/api/agents/memory/route.ts
Due: biome-format, biome-check, typescript-check

refactor: streamline agent route imports by removing duplicates
  frontend/src/app/api/agents/budget/route.ts
  frontend/src/app/api/agents/destinations/route.ts
  frontend/src/app/api/agents/itineraries/route.ts
  frontend/src/app/api/agents/memory/route.ts
Due: biome-format, biome-check, typescript-check

refactor: update environment variable usage and streamline error handling
  .env.example
  .env.test.example
  CHANGELOG.md
  docs/operators/agent-frontend.md
  frontend/README.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/api/agents/accommodations/route.ts
  frontend/src/app/api/agents/budget/route.ts
  frontend/src/app/api/agents/destinations/route.ts
  frontend/src/app/api/agents/flights/route.ts
  frontend/src/app/api/agents/itineraries/route.ts
  frontend/src/app/api/agents/memory/route.ts
  frontend/src/app/api/agents/router/route.ts
  frontend/src/app/api/geocode/route.ts
  frontend/src/lib/agents/budget-agent.ts
  frontend/src/lib/agents/destination-agent.ts
  frontend/src/lib/agents/itinerary-agent.ts
  frontend/src/lib/next/__tests__/route-helpers-extended.test.ts
  frontend/src/lib/next/route-helpers.ts
  frontend/src/lib/tools/__tests__/weather.test.ts
  frontend/src/lib/tools/planning.ts
  frontend/src/lib/tools/travel-advisory.ts
  frontend/src/lib/tools/weather.ts
  frontend/src/lib/tools/web-crawl.ts
  frontend/src/lib/tools/web-search-batch.ts
Due: biome-format, biome-check, typescript-check

chore: update environment variable configuration for Google Maps and Supabase
  .env.example
  .env.test.example
Due: none

refactor: reorganize environment variable management and update Google Maps integration
  .gitignore
  docker/README.md
  docker/docker-compose.mcp.yml
  docs/operators/operators-reference.md
  frontend/README.md
  frontend/biome.json
  frontend/src/app/api/geocode/route.ts
  frontend/src/app/api/places/details/[id]/route.ts
  frontend/src/app/api/places/photo/route.ts
  frontend/src/app/api/places/search/route.ts
  frontend/src/app/api/route-matrix/route.ts
  frontend/src/app/api/routes/route.ts
  frontend/src/app/api/timezone/route.ts
  frontend/src/components/Map.tsx
  frontend/src/components/PlacesAutocomplete.tsx
  frontend/src/lib/env-setup.ts
  frontend/src/lib/env/__tests__/client.test.ts
  frontend/src/lib/env/__tests__/server.test.ts
  frontend/src/lib/env/client.ts
  frontend/src/lib/env/index.ts
  frontend/src/lib/env/schema.ts
  frontend/src/lib/env/server.ts
  frontend/src/lib/google/keys.ts
  frontend/src/lib/schemas/index.ts
  frontend/src/lib/supabase/client.ts
  frontend/src/lib/supabase/server.ts
  frontend/src/lib/tools/__tests__/google-places.test.ts
  frontend/src/lib/tools/google-places.ts
  frontend/src/lib/tools/maps.ts
Due: biome-format, biome-check, typescript-check

refactor: remove activities-related functionality and update service dependencies
  tests/conftest.py
  tests/integration/api/test_activities_integration.py
  tests/unit/api/test_activities.py
  tests/unit/services/external_apis/test_google_maps_service.py
  tests/unit/services/external_apis/test_weather_service.py
  tests/unit/tripsage_core/services/business/test_tool_calling_service.py
  tripsage/api/README.md
  tripsage/api/core/dependencies.py
  tripsage/api/main.py
  tripsage/api/routers/__init__.py
  tripsage/api/routers/activities.py
  tripsage/app_state.py
  tripsage_core/services/business/activity_service.py
  tripsage_core/services/business/location_service.py
  tripsage_core/services/business/search_facade.py
  tripsage_core/services/business/tool_calling/__init__.py
  tripsage_core/services/business/tool_calling/core.py
  tripsage_core/services/business/tool_calling/models.py
  tripsage_core/services/business/tool_calling_service.py
  tripsage_core/services/business/unified_search_service.py
  tripsage_core/services/external_apis/__init__.py
  tripsage_core/services/external_apis/google_maps_service.py
Due: none

chore: update .cursorignore to include frontend environment variable directory
  .cursorignore
Due: none

refactor: remove deprecated services and update API structure
  docs/architecture/system-overview.md
  docs/prompts/ai-sdk/05-tools-and-mcp-integration.md
  tests/unit/api/policy/openapi_snapshot.json
  tests/unit/services/test_destination_service.py
  tripsage/app_state.py
  tripsage_core/README.md
  tripsage_core/services/external_apis/__init__.py
  tripsage_core/services/external_apis/calendar_service.py
  tripsage_core/services/external_apis/time_service.py
Due: none

refactor: enhance environment variable management and update API integrations
  frontend/middleware.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/api/attachments/files/route.ts
  frontend/src/app/api/chat/attachments/route.ts
  frontend/src/app/api/chat/route.ts
  frontend/src/app/api/chat/stream/_handler.ts
  frontend/src/app/api/chat/stream/route.ts
  frontend/src/app/api/keys/_rate-limiter.ts
  frontend/src/app/api/keys/validate/route.ts
  frontend/src/app/attachments/page.tsx
  frontend/src/lib/api/client.ts
  frontend/src/lib/redis.ts
  frontend/src/lib/supabase/admin.ts
  frontend/src/lib/tools/__tests__/accommodations.test.ts
  frontend/src/lib/tools/__tests__/weather.test.ts
  frontend/src/lib/tools/__tests__/web-crawl.test.ts
  frontend/src/lib/tools/__tests__/web-search.test.ts
  frontend/src/lib/tools/accommodations.ts
  frontend/src/lib/tools/flights.ts
  frontend/src/lib/tools/weather.ts
  frontend/src/lib/tools/web-crawl.ts
  frontend/src/lib/tools/web-search-batch.ts
  frontend/src/lib/tools/web-search.ts
Due: biome-format, biome-check, typescript-check

chore: update package dependencies and add calendar schema tests
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/schemas/__tests__/calendar.test.ts
Due: biome-format, biome-check, typescript-check

chore: add @ai-sdk/google dependency and remove deprecated packages
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

chore: implement Google Calendar integration and related features
  .env.example
  CHANGELOG.md
  docs/architecture/calendar-service.md
  docs/architecture/system-overview.md
  docs/migrations/2025-11-13-openrouter-official-provider.md
  docs/migrations/2025-11-13-openrouter-provider-v6-migration.md
  docs/migrations/2025-11-13-user-gateway-byok.md
  frontend/e2e/calendar-integration.spec.ts
  frontend/src/app/(dashboard)/calendar/page.tsx
  frontend/src/app/(dashboard)/trips/[id]/page.tsx
  frontend/src/app/api/calendar/__tests__/README.md
  frontend/src/app/api/calendar/__tests__/events.test.ts
  frontend/src/app/api/calendar/__tests__/freebusy.test.ts
  frontend/src/app/api/calendar/__tests__/ics-export.test.ts
  frontend/src/app/api/calendar/__tests__/ics-import.test.ts
  frontend/src/app/api/calendar/__tests__/status.test.ts
  frontend/src/app/api/calendar/__tests__/test-helpers.ts
  frontend/src/app/api/calendar/events/route.ts
  frontend/src/app/api/calendar/freebusy/route.ts
  frontend/src/app/api/calendar/ics/import/route.ts
  frontend/src/app/api/calendar/status/route.ts
  frontend/src/app/api/keys/_handlers.ts
  frontend/src/components/calendar/calendar-connect-client.tsx
  frontend/src/components/calendar/calendar-connect.tsx
  frontend/src/components/calendar/calendar-event-form.tsx
  frontend/src/components/calendar/calendar-event-list.tsx
  frontend/src/components/calendar/calendar-status.tsx
  frontend/src/components/calendar/index.ts
  frontend/src/components/layouts/dashboard-layout.tsx
  frontend/src/lib/calendar/__tests__/trip-export.test.ts
  frontend/src/lib/calendar/auth.ts
  frontend/src/lib/calendar/google.ts
  frontend/src/lib/calendar/trip-export.ts
  frontend/src/lib/tools/__tests__/weather.test.ts
  frontend/src/schemas/__tests__/calendar.test.ts
  frontend/src/schemas/calendar.ts
  frontend/src/schemas/temporal.ts
  tripsage_core/README.md
Due: biome-format, biome-check, typescript-check

chore: update .gitignore and improve AGENTS.md documentation
  .gitignore
  AGENTS.md
Due: none

feat: add per-user Gateway BYOK support and user settings
  supabase/migrations/20251113000000_gateway_user_byok.sql
Due: none

refactor: update travel advisory tests for clarity and accuracy
  frontend/src/lib/tools/__tests__/travel-advisory.test.ts
Due: biome-format, biome-check, typescript-check

chore: add babel-plugin-react-compiler dependency to project
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-format, biome-check

Path conditions:
  biome-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  biome-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
